
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Services
@using Siesa.SDK.Frontend.Components.Fields
@inject SDKGlobalLoaderService SDKGlobalLoaderService


<div class="container-fluid m-3">
    <div class="container-fluid">
            <h2>SDKGlobalLoader</h2> 
            <p>Demonstration and configuration of the SDKGlobalLoader component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-1">
            <b>ResourceTag: (Optional)</b>
            <SDKCharField @bind-Value="@ResourceTag" Placeholder="Custom.Generic.Loading" />
            <SDKButton RenderStyle="SDKButtonRenderStyle.Secondary" ResourceTag="Show Loader" Click="@ShowLoader" />
        </div>
    </div>
</div>


@code{

    private string ResourceTag { get; set; }
    public async void ShowLoader()
    {
        SDKGlobalLoaderService.Show(ResourceTag);

        await Task.Delay(5000);

        await InvokeAsync(() => SDKGlobalLoaderService.Hide());
    }
}