
@using Siesa.SDK.Frontend.Components.Visualization
@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKCard</h2> 
            <p>Demonstration and configuration of the SDKCard component</p> 
    </div>
    <div class="row my-5"> 
        <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
            <div class="p-2">
                <SDKCard>
                    <h3>Contact</h3>
                        <div class="d-flex flex-row">
                            <img src="https://i.pinimg.com/564x/c2/ac/e6/c2ace65f78a979ff545af2d07248d16e.jpg" 
                            Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                            <div>
                                <div>Employee</div>
                                <b>Ivan David Grisales</b>
                                <div class="mt-3">Company</div>
                                <b>SIESA</b>
                            </div>
                        </div>
                </SDKCard>
            </div>
            <div class="p-2">
                <SDKCard>
                    <h3>Delivery Information</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div>Country</div>
                                <b>Colombia</b>
                                <div class="mt-3">City</div>
                                <b>Cali Valle</b>
                            </div>
                            <div class="col-md-8">
                                <div>Profession</div>
                                <b>Ing. Sistemas</b>
                                <div class="mt-3">Age</div>
                                <b>25</b>
                            </div>
                        </div>
                </SDKCard>
            </div>
        </div>
    </div>
</div>

@code {


}