@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Visualization


@layout EmptyLayout


<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKIcon</h2> 
            <p>Demonstration and configuration of the SDKIcon component</p>
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <SDKIcon Name="fa-shield-halved" />
            </SDKCard>
        </div>

        <div class="col-md-6 p-3">
            <SDKCard>
                <SDKIcon Name="fa-circle-info" IconSize="fa-4x"  CssClass="mr-2" Style="color: #HHHH"/>
            </SDKCard>
        </div>
    </div>
</div>


@code {

   
}