
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Services
@using Siesa.SDK.Frontend.Components.Fields

@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Services
@using Siesa.SDK.Frontend.Components.Fields

<div class="container-fluid m-3">
    <div class="container-fluid">
        <h2>Demo SDKGridLayout</h2>
        <p>Demonstration and configuration of the SDKGridLayout component</p>
    </div>
    <div class="row px-3">
        <div class="col-md-6 p-1">
            <SDKGridLayout CssClass="w-100 ch-480">
                <Rows>
                    <SDKGridLayoutRow Height="100px" />
                    <SDKGridLayoutRow />
                    <SDKGridLayoutRow Height="auto" />
                </Rows>
                <Columns>
                    <SDKGridLayoutColumn Width="2fr" />
                    <SDKGridLayoutColumn Width="60%" />
                    <SDKGridLayoutColumn />
                </Columns>
                <Items>
                    <SDKGridLayoutItem Row="0" Column="0" ColumnSpan="3">
                        <Template>
                            <div class="gridlayout-header gridlayout-item">
                                <SDKCard>
                                    <SDKProgressBar Value="@valor3" Max="100" ScaleRanges="@ranges"/>

                                    <SDKRangeSlider MinRange="0" MaxRange="100" @bind-Value="@valor3" />
                                </SDKCard>
                            </div>
                        </Template>
                    </SDKGridLayoutItem>
                    <SDKGridLayoutItem Row="1" Column="1">
                        <Template>
                            <div style="background-color: red;" class="gridlayout-content gridlayout-item">
                                Content
                            </div>
                        </Template>
                    </SDKGridLayoutItem>
                    <SDKGridLayoutItem Row="1" Column="0">
                        <Template>
                            <div class="gridlayout-left-side-bar gridlayout-item">
                                <SDKButtonTiles ResourceTag="DemoTitle" BackgroundColor="FF5733"
                                    IconClass="fa-solid fa-layer-group" />
                            </div>
                        </Template>
                    </SDKGridLayoutItem>
                    <SDKGridLayoutItem Row="1" Column="2">
                        <Template>
                            <div class="gridlayout-right-side-bar gridlayout-item">
                                <SDKButtonTiles ResourceTag="DemoTitle3" BackgroundColor="33FF52"
                                    IconClass="fa-solid fa-layer-group" />
                            </div>
                        </Template>
                    </SDKGridLayoutItem>
                    <SDKGridLayoutItem Row="2" Column="0" ColumnSpan="3">
                        <Template>
                            <div class="gridlayout-footer gridlayout-item">
                                <SDKCollapse>
                                    <Items>
                                        <SDKCollapseItem Text="Colapsable 1">
                                            <div class="pt-2 pb-3 px-2">
                                                <h3>Hello World</h3>
                                                <p>Child content can be another component or custom html content</p>
                                            </div>
                                        </SDKCollapseItem>
                                        <SDKCollapseItem Text="Colapsable 2">
                                            <div class="pt-2 pb-3 px-2">
                                                <h3>Hello World</h3>
                                                <p>Child content can be another component or custom html content</p>
                                            </div>
                                        </SDKCollapseItem>
                                    </Items>
                                </SDKCollapse>
                            </div>
                        </Template>
                    </SDKGridLayoutItem>
                </Items>
            </SDKGridLayout>
        </div>
    </div>
</div>


@code
{
    double valor3 = 54;
    List<SDKProgressBarScaleRange> ranges = new List<SDKProgressBarScaleRange>()
    {
        new SDKProgressBarScaleRange()
        {
            From = 0,
            To = 10,
            BarStyle = SDKProgressBarStyle.Danger
        },
        new SDKProgressBarScaleRange()
        {
            From = 11,
            To = 25,
            BarStyle = SDKProgressBarStyle.Warning
        },
        new SDKProgressBarScaleRange()
        {
            From = 26,
            To = 50,
            BarStyle = SDKProgressBarStyle.Info
        },
        new SDKProgressBarScaleRange()
        {
            From = 51,
            To = 75,
            BarStyle = SDKProgressBarStyle.Success
        },
        new SDKProgressBarScaleRange()
        {
            From = 76,
            To = 100,
            BarStyle = SDKProgressBarStyle.Primary
        }
    };
}