@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Entities
@using Siesa.SDK.Frontend.Services
@using Siesa.SDK.Frontend.Components.Documentation

@inject SDKNotificationService NotificationService

@layout EmptyLayout

<div class="container-fluid">
<div class="container-fluid">
        <h2>SDKTab and Tabs</h2> 
        <p>Demonstration and configuration of the SDKTab and Tabs component</p> 
</div>
<div class="row px-3">
    <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Child content in Tabs</h3>
                <SDKTabs>
                    <SDKTab TitleResourceTag="Test 1">
                        <h3>Hello World</h3>
                        <p>Child content can be another component or custom html content</p>
                    </SDKTab>
                    <SDKTab TitleResourceTag="Test 2">
                        <SDKCard>
                            <h3>Contact</h3>
                                <div class="d-flex flex-row">
                                    <img src="https://i.pinimg.com/564x/c2/ac/e6/c2ace65f78a979ff545af2d07248d16e.jpg" 
                                    Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                                <div>
                                    <div>Employee</div>
                                    <b>Ivan David Grisales</b>
                                    <div class="mt-3">Company</div>
                                    <b>SIESA</b>
                                </div>
                            </div>
                        </SDKCard>
                    </SDKTab>
                    <SDKTab TitleResourceTag="Test 3">
                    </SDKTab>
                </SDKTabs>
            </SDKCard>
        </div> 
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Badges in Tabs</h3>
                <SDKTabs>
                    <SDKTab TitleResourceTag="Notificaciones" ShowBadge="true" BadgeValue="+15" BadgeAsPill="true" BadgeStyle="SDKBadgeStyle.Danger"/>
                    <SDKTab TitleResourceTag="Mensajes" ShowBadge="true" BadgeValue="+15"  BadgeStyle="SDKBadgeStyle.Info"/>
                    <SDKTab TitleResourceTag="Eventos" ShowBadge="true" BadgeValue="+15" BadgeAsPill="true"  BadgeStyle="SDKBadgeStyle.Light"/>
                </SDKTabs>
            </SDKCard>
        </div>
    </div>
</div>

@code{

}
