
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@inject SDKNotificationService SDKNotificationService
@inject SDKDialogService SDKDialogService
@inject DialogService DialogService
@layout EmptyLayout


<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <SDKCard>
                <h3>ProgressBar in determinate mode</h3>
                <SDKProgressBar @bind-Value="@valor" />
            </SDKCard>z
        </div>
        <div class="col-md-4 p-3">
            <SDKCard>
                <h3>ProgressBar in max value > 100</h3>
                <SDKProgressBar @bind-Value="@valor" Max="200" />
            </SDKCard>
        </div>
    </div>
</div>

@code {
    double valor = 55;


}