@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.FormManager.Model
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.Layout.Detail.Relationship
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Components.FormManager.Model

@inject SDKNotificationService SDKNotificationService


<div class="container-fluid">
    <div class="container-fluid">
            <h2>RelationshipPanel</h2> 
            <p>Demonstration and configuration of the RelationshipPanel component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            @* @foreach (var rel in FormViewModel.Relationships)
            {
                <RelationshipPanel Relationship="@rel"  Parent="BLCulture.BaseObj"/>
            } *@
        </div>
    </div>
</div>

@code{

}