@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-12"><h2>SDKIdentity</h2></div>
        <div class="col-12"><p>Demonstration and configuration of the SDKIdentity</p></div> 
    </div>
    <div class="row px-3 mt-3"> 
        <div class="col-md-6 p-3 ">
                <h5><strong>Este atributo actualmente no tiene una funcionalidad real, pero se penso
                         inicialmente para indicar las tablas que desde el sdk se les debera calcular el rowid</strong></h5>
                <SDKCard>
                    <p>Dentro del proyecto hay varias entidades que cumpliran con esta funcion:</p>
                    
                    <SDKFileViewer type="SDKTypeFile.Image" url="_content/Siesa.SDK.Frontend/images/SDKIdentity.png" />  
                </SDKCard>
        </div>
    </div>
</div>