
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-12"><h2>SDKDataEncrypt</h2></div>
        <div class="col-12"><p>Demonstration and configuration of the SDKDataEncrypt</p></div> 
    </div>
    <div class="row px-3 mt-3"> 
        <div class="col-md-6 p-3 ">
                <h5><strong>Este atributo se utiliza para Cifrar o Encriptar.</strong></h5>
                <SDKCard>
                    <p>En la entidad del Usuario podemos ver el siguiente ejemplo:</p>
                    
                    <SDKFileViewer type="SDKTypeFile.Image" url="_content/Siesa.SDK.Frontend/images/SDKDataEncrypt.png" />  
              
                    <p>Solo con definir el DataAnnotation en el atributo que necesitemos cifrar es suficiente, el SDK 
                        hace todo el proceso de Encriptar, a la fecha se encripta con el algoritmo SHA256.
                    </p>
                </SDKCard>
        </div>
    </div>
</div>