
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields

<div class="container-fluid">
    <div class="row p-3">
        <div class="col-12"><h2>DataAnnotations</h2></div>
        <div class="col-12"><p>Demonstration and configuration of the DataAnnotations in SDK</p></div> 
    </div>
    <div class="row px-3 mt-3"> 
        <div class="col-md-6 p-3 ">
            <h3 class="d-flex justify-content-center">DataAnnotations</h3>
                <p>Son atributos que se pueden aplicar a clases o miembros de clase para especificar la relación entre clases, describir cómo se mostrarán los datos en la interfaz de usuario y especificar reglas de validación.
                </p>
                A continuacion se muestran los DataAnnotations que tenemos disponibles en el SDK:

                <h5><strong>SDKApiMethod</strong></h5>
                <p>Este atributo se utiliza para indicar que un método es un método de API.</p>
                <SDKCard>
                    <img src="./image/SDKApiMethod.png">
                </SDKCard>
        </div>
    </div>
</div>