.playground-container{
    height: 100vh;
    width: 100%;
    background-color: #181818;
    max-height: 100vh;
    overflow: hidden;
}

.playground-container ::deep .rz-splitter-pane {
    display:flex;
    flex-direction: column;
}

.code-container, .result-container, .filetree-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.result-container{
    background-color: #fff;
}

.result-container .container-title{
    color: #000;
}

/* .playground-container ::deep .code-container > div {
    flex-grow: 1;
    display: flex;
} */
::deep .dx-tabs-content.active > div{
    height: 100%;
    display: flex;
    background-color: #1e1e1e;
}

::deep .code-viewer-area{
    width: 100%;
    flex-grow: 1;
}

::deep .result-area {
    background-color: #fff;
    border-radius: 7px;
    margin: 0.5rem;
    overflow: auto;
    max-height: calc(100vh - 4.5rem);
}

::deep .container-title{
    font-weight: 600;
    margin-bottom: 0.1rem;
    color: #fff;
    margin-left: 0.5rem;
}
.playground-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 0.5rem;
    border-bottom: 1px solid #fff;
}
.playground-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
::deep .playground-button{
    border-radius: 1px !important;
}
::deep .rz-splitter-vertical > .rz-splitter-bar {
    height: 5px !important;
}

::deep .rz-splitter-horizontal > .rz-splitter-bar {
    width: 5px !important;
}

::deep .code-container .nav-tabs .nav-link.active{
    background-color: #1e1e1e !important;
    color: #fff !important;
}

::deep .code-container .nav-tabs .nav-link:hover{
    background-color: #1e1e1e !important;
    color: #fff !important;
}

::deep .code-container .nav-tabs .nav-link:not(.active):focus, ::deep .code-container .nav-tabs .nav-link:not(.active):hover {
    border-color: #3b3c3d !important;
    box-shadow: none !important;
}

.filetree-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filetree-topbar .filetree-topbar-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.filetree-topbar .filetree-topbar-buttons ::deep .btn {
    color: #d7d7d7;
}

.filetree-topbar .filetree-topbar-buttons ::deep .btn:hover {
    color: #fff;
}

.filetree-topbar .filetree-topbar-buttons ::deep .btn:focus {
    box-shadow: none !important;
}

::deep .close-tab-button{
    font-size: 1rem;
}