@page "/develop"

<h1>Hola Mundo</h1>
<br>
<p>Mi Valor es: @myValue</p>


<SDKSelectBar @bind-Value="@myValue"  Data="@ListaPrueba" ></SDKSelectBar>

@code
{
    int myValue;


    List<SelectBarItemWrap> ListaPrueba = new List<SelectBarItemWrap>()
    {
        new SelectBarItemWrap (){Key = 1, Name= "prueba01"},
        new SelectBarItemWrap() {Key = 2 , Name = "prueba02"},
        new SelectBarItemWrap() {Key = 3 , Name = "prueba03" }
    };
}
