::deep .rz-calendar-inline
{
    width: 100% !important;
}

::deep .rz-datepicker-inline .rz-datepicker
{
    width: 100% !important;
}

::deep .rz-datepicker-group
{
    width: 100% !important;
}

::deep .rz-datepicker-group .rz-datepicker-header
{
    padding: 0rem 0.5rem !important;
}

::deep .rz-datepicker-calendar
{
    width: 100% !important;
}