.font_color_primary_dark {
    color: var(--color_primary_dark);
}

::deep .btn_multiselect{
    font-size: 1.1rem;
    height: 2.063rem;
    width: 2.163rem;
    border: 1px solid var(--color_border)!important;
    background: var(--color_input_back);
    color: var(--color_primary)!important;
    line-height: 1;
    border-radius: var(--border_radius_standar) !important;
}

::deep .btn_multiselect:hover
{
    background-color: var(--color_back_2) !important;
    background: var(--color_back_2) !important;
}

