


<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 form-group">
        <label class="col-form-label col-form-label-sm font-weight-bold" for="control_entidad">Ciudad</label>
        <div class="input-group input-group-sm whcm_select_box">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <button class="btn whcm-btn-outline" type="button" data-toggle="tooltip" data-placement="top" title="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btn whcm-btn-outline" type="button" data-toggle="tooltip" data-placement="top" title="Crear"><i class="fa-solid fa-circle-plus"></i></button>
            </div>
            <div class="whcm_select_list">
                <ul>
                    <li class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="whcm_select_list_img">
                                <img src="" height="36px" alt="imagen">
                            </div>
                            <div class="ml-1">
                                <p class="font_size_087 m-0 font-weight-bold"><span>Nombre ciudad</span></p>
                                <p class="font_size_087 m-0"><span>Código:</span> <span>0001</span></p>
                                <p class="font_size_087 m-0"><span>Departamento:</span> <span>(XX) - Xxxxx Xxxxxx</span></p>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm layout_btn_standar-sm" data-toggle="tooltip" data-placement="top" title="Ampliar">
                                <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
</div>  


@code
{


}