.sdk-file-field ::deep .sdk-file-field-img{
    text-align: center;
}

.sdk-file-field ::deep .rz-fileupload{
    width: 100%;
}
.sdk-file-field ::deep .rz-fileupload .rz-fileupload-buttonbar{
    background-color:var(--color_light) !important;
    padding: 0;
    display: flex !important;
    justify-content: center !important;
}
.sdk-file-field ::deep .rz-fileupload .rz-fileupload-buttonbar .rz-fileupload-choose{
    background-color: var(--color_primary) !important;    
    text-align: center;
}
