@using Siesa.SDK.Frontend.Components.Layout
<p class="@GetCss()">
<ResourceViewer ResourceTag="@ResourceTag" RowidCulture=@RowidCulture />
</p>

@code {
    [Parameter] public string ResourceTag { get; set; }
    [Parameter] public string? CssClass {get; set;}
    [Parameter] public Int64 RowidCulture { get; set; } 

    private string GetCss()
    {
        if(string.IsNullOrEmpty(CssClass)) return string.Empty;

        return CssClass;
    }
}