::deep .sdk_btn_pass
{
    color: var(--color_primary_light);
    border: none;
    outline: none;
    box-shadow: none;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 1.938rem;
    min-height: 1.938rem;
}