@typeparam ItemType

<div>
    <RadzenRadioButtonList  Value=@Value Change=@ValueChanged  TValue="ItemType" 
    Data="@Data" TextProperty="Name" ValueProperty="Key" Disabled="@Disabled"  />
</div>


