@using System.Linq.Expressions
@typeparam ItemType

<div class="sdk-selectbar-container">
<RadzenSelectBar Value=@Value Change="@ValueChanged" TValue="ItemType"
        Data="@Data" TextProperty="Name" ValueProperty="Key" Disabled = "@Disabled" ValueExpression="@ValueExpression"/>
</div>

@code{
        [Parameter] public Expression<Func<ItemType>> ValueExpression { get; set; }
}