.sdk-selectbar-container > ::deep .rz-button .rz-button-text-only {

}

.sdk-selectbar-container > ::deep .rz-selectbutton .rz-button.rz-state-active {
    background: var(--color_primary);
    color: var(--color_light);
    border: var(--color_primary_dark);
}

.sdk-selectbar-container > ::deep .rz-selectbutton .rz-button {
    font-size: 0.875rem;
    padding: 0 1rem;
    height: 30px;
}





