.sdk-selectbar-container > ::deep .rz-button .rz-button-text-only {

}

.sdk-selectbar-container > ::deep .rz-selectbutton .rz-button.rz-state-active {
    background: var(--color_primary) !important;
    color: var(--color_light_text) !important;
    border: 1px solid var(--color_primary) !important;
    box-shadow: none !important;

}

.sdk-selectbar-container > ::deep .rz-selectbutton .rz-button {
    font-size: 0.875rem;
    padding: 0 1rem;
    height: 1.938rem !important;
    min-height: 1.938rem !important;
    box-shadow: none !important;
    color: var(--color_text);

}

.sdk-selectbar-container > ::deep .rz-selectbutton > .rz-button > span {
    line-height: 2 !important;
}


.sdk-selectbar-container ::deep .rz-selectbutton .rz-button.rz-button-md {
    background-color: var(--color_panel_back);
}


