.sdk-switch-container {
    display: flex;
    align-items: center;
    height: 2rem;
}

.sdk-switch-container > ::deep .rz-switch {
    display: inherit;
    height: 20px;
    width: 38px;
    min-width: 38px;
}

.sdk-switch-container > ::deep .rz-switch.rz-switch-checked .rz-switch-circle {
    background: var(--color_primary) !important;
}


.sdk-switch-container > ::deep .rz-switch.rz-switch-checked .rz-switch-circle::before {
    height: 16px;
    width: 16px;
    left: 0.1rem;
    margin-top: -0.5rem;
    background:var(--color_panel_back) !important;
}

.sdk-switch-container > ::deep .rz-switch .rz-switch-circle::before {
    height: 16px;
    width: 16px;
    left: 0.1rem;
    margin-top: -0.5rem;
    background:var(--color_panel_back) !important;
}

::deep .rz-switch .rz-switch-circle{
    background:var(--color_switch) !important;
}

::deep .rz-switch-circle.rz-disabled{
    background: var(--color_input_back_disabled) !important;
    opacity: 1 !important;
}