.sdk-upload-attatchment ::deep .rz-fileupload .rz-fileupload-buttonbar{
    background-color:var(--color_light) !important;
    padding: 0;
    display: flex !important;
    justify-content: center !important;
}
.sdk-upload-attatchment ::deep .rz-fileupload .rz-fileupload-buttonbar .rz-fileupload-choose{
    background-color: var(--color_primary) !important;
    color: var(--color_light_text) !important;

}

.sdk-upload-attatchment{
    text-align: center;
}