<div class="@GetClass()">
    @ChildContent
</div>


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Class { get; set; } = "";

    [CascadingParameter(Name ="IsForm")] bool IsForm { get; set; } = false;

    private string StrClass { get; set; } = "row";

    public string GetClass()
    {
        string strRes = Class;

        if (IsForm)
        {
            strRes += " form-row ";
        }
        else
        {
            strRes += " row ";
        }

        return strRes;

    }
}
