.area1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrumb{
    background-color: transparent !important;
    margin-bottom: 0px !important;
}
.breadcrumb-item{
    text-align: left;
    font: normal normal normal 0.75rem/0.938 Roboto !important;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
}
.breadcrumb-item a{
    text-align: left;
    font: normal normal normal 0.75rem/0.938 Roboto !important;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
}
.breadcrumb .active{
    text-align: left;
    font: 500 normal normal 0.75rem/0.938 Roboto !important;
}
.estado{
    padding-left: 6px;
    align-items: center;
    opacity: 1 !important;
    font: 500 normal normal 0.75rem/0.938 Roboto !important;
    color: var(--color_text_2) !important;
    list-style: none;
}
.bullet-breadcrumb {
    height:12px;
    width:12px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
} 
.toolbar_edition{
   background:var(--color_estado_edición);
}
.toolbar_creation{
   background:var(--color_estado_creación);
}
.toolbar_default{
    background:var(--color_primary_light);
 }
.toolbar_persistencia{
   background:var(--color_estado_persistencia);
}