.area1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: calc(48px + 1rem);
    z-index: 3;
}
.sdk-breadcrumb-empty{
    min-height: 2rem;
}
.breadcrumb{
    background-color: transparent !important;
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb-item{
    text-align: left;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
}
.breadcrumb-item a{
    text-align: left;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
    outline: none !important;
}
.breadcrumb .active{
    text-align: left;
    font-size: 0.75rem;
    font-weight: 700;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: var(--color_text_2) !important;
    outline: none !important;
}
.estado{
    padding-left: 6px;
    align-items: center;
    opacity: 1 !important;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    list-style: none;
    font-weight: 700;
}
.bullet-breadcrumb {
    height:12px;
    width:12px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
} 
.toolbar_edition{
   background:var(--color_estado_edición);
}
.toolbar_creation{
   background:var(--color_estado_creacion);
}
.toolbar_default{
    background:var(--color_primary_light);
 }
.toolbar_persistencia{
   background:var(--color_estado_persistencia);
}
/*MenuRecent*/

.whcm_recent_list{
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0rem 0.65rem 1rem 1rem;
}
::deep .whcm_recent_box{
    position: absolute;
    min-width: 450px !important;
    padding: 0rem !important;
    font-size: 0.875rem !important;
    border-radius: var(--border_radius_standar) !important;
    color: var(--color_text) !important;
    background-color: var(--color_panel_back) !important;
    box-shadow: var(--shadow_standar);
    border: none !important;
    top: calc(2rem + 6px) !important;
    left: 0 !important;
    transform: translate3d(0px, 0px, 0px) !important;
    z-index: 3 !important;
}

::deep .whcm_recent_box::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    left: 8px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid  var(--color_panel_back);
    border-left: 9px solid transparent;
}

.width_content
{
    min-width: 450px;
}

/*Fin MenuRecent*/
@media (max-width: 575.98px) { 
    .area1{
        flex-wrap: wrap;
    }
    .area1 > nav{
        width: 100%;
    }
    .whcm_recent_box {
        min-width: calc(100vw - 2rem) !important;
    }
    .width_content {
        min-width: calc(100vw - 2rem) !important;
    }
}
