.area1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrumb{
    background-color: transparent !important;
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb-item{
    text-align: left;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
}
.breadcrumb-item a{
    text-align: left;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    opacity: 1 !important;
}
.breadcrumb .active{
    text-align: left;
    font-size: 0.75rem;
    font-weight: 700;
}
.estado{
    padding-left: 6px;
    align-items: center;
    opacity: 1 !important;
    font-size: 0.75rem;
    color: var(--color_text_2) !important;
    list-style: none;
    font-weight: 700;
}
.bullet-breadcrumb {
    height:12px;
    width:12px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
} 
.toolbar_edition{
   background:var(--color_estado_edición);
}
.toolbar_creation{
   background:var(--color_estado_creación);
}
.toolbar_default{
    background:var(--color_primary_light);
 }
.toolbar_persistencia{
   background:var(--color_estado_persistencia);
}

@media (max-width: 575.98px) { 
    .area1{
        flex-wrap: wrap;
    }
    .area1 > nav{
        width: 100%;
    }
}

/*Estilos Boton Recientes*/
.whcm_recent_box{
    position: absolute;
    min-width: 450px !important;
    padding: 0rem !important;
    font-size: 0.875rem !important;
    border-radius: var(--border_radius_standar) !important;
    color: var(--color_text) !important;
    background-color: var(--color_light) !important;
    box-shadow: var(--shadow_standar);
    border: none !important;
    top: calc(2rem + 6px) !important;
    left: 0 !important;
    transform: translate3d(0px, 0px, 0px) !important;
    z-index: 3 !important;
}
.sdk_recent_box
{
    display: block;
    width: 100%;
    clear: both;
    color: var(--color_text);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}
.sdk_recent_box:hover
{
    background-color: var(--color_back_2);
}
.whcm_recent_box::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    left: 8px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
}
.whcm_recent_list{
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0rem 0.65rem 1rem 1rem;
}
.whcm_dot {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    border: 1px solid var(--color_border);
    border-radius: 50%;
    background-color: var(--color_back);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.font_size_075{
    font-size: 12px;
}
.rectangle_borders{
    min-height: 24px;
    position: relative;    
    border-top: 1px solid var(--color_border);
    border-bottom: 1px solid var(--color_border);
    border-radius: 0px;           
    z-index: 1;
    padding: 2px 6px 2px 18px;
    background-color: var(--color_back);   
    margin-bottom: -1px; 
}
.rectangle_borders_active{
    min-height: 24px;
    position: relative;
    border: 1px solid var(--color_primary);
    border-radius: 0px;          
    padding: 2px 6px 2px 12px;
    background: var(--color_primary);
    color: var(--color_light);
    margin-bottom: -1px; 
}
.rectangle_borders:first-child::before{
    content: '';
    background: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -12px;
    border: 1px solid transparent;
    border-radius: 0% 50% 50% 0%;
    border-left: none;
}
.rectangle_borders::before {
    content: '';
    background: linear-gradient(108deg, var(--color_border) 57%, var(--color_light) 57%);
    width: 8px;
    height: 24px;
    position: absolute;
    left: -2px;
    border-bottom: 1px solid var(--color_border);
    clip-path: polygon(93% 0, 100% 0, 100% 100%, 0 100%, 0 93%);
}

.rectangle_borders::after {
    content: '';
    background: linear-gradient(108deg, var(--color_light) 45%, var(--color_border) 45%);
    width: 8px;
    height: 24px;
    position: absolute;
    right: -7px;
    border-top: 1px solid var(--color_border);
    border-radius: 0%;
    clip-path: polygon(100% 8%, 100% 0, 0 0, 0 100%, 8% 100%);
}

.rectangle_borders_active::before {
    content: '';
    background: var(--color_primary);
    width: 8px;
    height: 24px;
    position: absolute;
    left: -8px;
    border-radius: 0%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.rectangle_borders_active::after {
    content: '';
    background: var(--color_primary);
    width: 8px;
    height: 24px;
    position: absolute;
    right: -8px;
    border-radius: 0%;
    clip-path: polygon(100% 0, 0% 110%, 0 0);
}

@media (max-width: 575.98px) {
    .whcm_recent_box {
        min-width: calc(100vw - 2rem) !important;
    }
}
/*Fin Estilos Boton recientes*/