<div class="sdk-modal-login">
    <img class="image_modal_login"src="/_content/Siesa.SDK.Frontend/assets/img/Cerrar_sesion.svg" />
        <h4 class="title_modal_login">
            <ResourceViewer ResourceTag="Custom.Title.LogoutSession" />
        </h4>
    <p class="text_modal_login">
        <ResourceViewer ResourceTag="Custom.Confirm.Logout" />
    </p>
</div>