.gridlayout-content-parent {
    display:flex;
    justify-content: center;
}
.gridlayout-content {
    padding: 10px;
    background: #ffffff;
    margin-top: 20px;
    min-width: 90%;
    width: 90%;
    max-width: 90%;
    border-radius: 7px;
    
}

.gridlayout-header {
    background: #1F4281 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    height: 60px;
}
/* Mobile */
@media only screen and (max-width: 600px) {
    .gridlayout-content {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}
