.gridlayout-content-parent {
    display:flex;
    justify-content: center;
}
.gridlayout-content {
    padding: 10px;
    background: #ffffff;
    /* margin-top: 50px; */
    min-width: 90%;
    /* width: 90%;
    max-width: 90%; */
    border-radius: 7px;
    /* padding-top: 48px; */
    
}

/* .gridlayout-header {
    background: #1F4281 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    height: 60px;
} */
/* Mobile */
@media only screen and (max-width: 600px) {
    .gridlayout-content {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }
}

::deep .whcm_panel{
    background: var(--color_light);
    box-shadow: var(--shadow_standar);
    border-radius: var(--border_radius_standar);
    border: none;
}

::deep .whcm_panel_glass{
    background: rgba(255, 255, 255, 0.7);
    border-radius: var(--border_radius_standar);
    box-shadow: var(--shadow_standar_min);
    backdrop-filter: blur(30px);
    border: 1px solid white;
}

::deep input#menu:checked ~ .sdk_home_content{
    padding-left: 64px;
    transition: .25s;
}
::deep input#menu:not(:checked) ~ input#collapse_open:checked ~ .sdk_home_content{
    padding-left: 15px;
    transition: .25s;
}
::deep input#collapse_open:checked ~ .sdk_home_content{
    padding-left: 256px;
    transition: .25s;
}
@media (max-width: 767.98px) { 
    ::deep input#collapse_open:checked ~ .sdk_home_content{
        padding-left: 64px;
        transition: .25s;
    }
    ::deep .whcm_panel > h3, .area2 h3{
        font-size: 1.5rem;
    }
}

@media (max-width: 575.98px) { 
    ::deep input#menu:checked ~ .sdk_home_content{
        padding-left: 15px;
        transition: .25s;
    }
}