@inherits LayoutComponentBase
<RadzenDialog />
<DxGridLayout>
    <Rows>
        <DxGridLayoutRow Height="auto" />
        <DxGridLayoutRow />
    </Rows>
    <Columns>
        <DxGridLayoutColumn />
    </Columns>
    <Items>
        <DxGridLayoutItem Row="0" Column="0">
            <Template>
                <div class="gridlayout-header gridlayout-item">
                    <NavMenu />
                </div>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1" Column="0">
            <Template>
                <TopBar />
                <div class="gridlayout-content-parent gridlayout-item">
                    <div class="gridlayout-content">
                        @Body
                    </div>
                </div>
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>