.card-container {
  max-width: 400px;
  margin: 20px auto; /* Margen al centro */
  padding: 10px;
}

.notification-card {
  border-left: 4px solid lightblue;
  margin-bottom: 10px; /* Espacio entre tarjetas */
  padding-left: 10px; /* Espacio entre borde izquierdo y contenido */
}