@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Utils

<div class="sdk_go_top"  @onclick="(()=>OnClick())">
    <div class="sdk_go_top_button">
        <SDKIcon Name="fa-chevron-up"></SDKIcon>
    </div>
</div>

@code{
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    private IJSObjectReference _jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            _jsModule = await JSRuntime.ImportJsModule("./_content/Siesa.SDK.Frontend/Components/Layout/SDKGoTop.razor.js");
        }
    }

    private async Task OnClick()
    {
        try
        {
            await _jsModule.InvokeAsync<string>("goToTop");
        }
        catch (System.Exception)
        {
        }
    }
}