.sdk_search {
    position: relative;
}

.sdk_search>input {
    border: transparent;
    background: #ffffff4d;
    color: var(--color_light);
}

.sdk_search>input:focus {
    color: var(--color_light);
    background-color: #ffffff4d;
}

.sdk_search>input::placeholder {
    color: #ffffff80;
}

.sdk_search> ::deep i {
    position: absolute;
    right: .5rem;
    top: .5rem;
    color: #ffffff80;
    opacity: .5;
}

.search_tooltip {
    min-width: 300px;
    max-width: 300px;
    border-radius: var(--border_radius_standar);
    color: var(--color_text);
    background-color: var(--color_panel_back);
    position: absolute;
    top: 42px;
    left: calc(50% - 150px);
    z-index: 1;
    box-shadow: var(--shadow_standar);
    display: none;
    font-size: 0.875rem;
}

.search_tooltip::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    left: 146px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--color_panel_back);
    border-left: 9px solid transparent;
}

.search_tooltip>div>a, .search_recent>a{
    color: var(--color_text);
    display: block;
    text-decoration: none;
}

.search_tooltip>div>a>span, .search_recent>a>span{
    color: var(--color_primary);
}

.search_tooltip div a:hover, .search_recent a:hover{
    color: var(--color_text);
    background: var(--color_back_2);
    text-decoration: none;
}
.search_tooltip>div{
    max-height: calc(100vh - 5rem);
    overflow-y: scroll;
    padding-left: 0.5rem;
    overflow-x: hidden;
    height: 50vh;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color_border);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color_border);
    border-radius: 10px;
}

