.whcm_toolbar{
    width: calc(100% - 2rem) !important;
    background: var(--color_light);
    border-radius: var(--border_radius_standar);
    box-shadow: var(--shadow_standar);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute !important;
    top: -2.063rem;
    z-index: 2;
}
.toolbar_edition{
    border-left: .5rem solid var(--color_estado_edición);
}
.toolbar_default{
    border-left: .5rem solid var(--color_primary_light);
}
.toolbar_creation{
    border-left: .5rem solid var(--color_estado_creación);
}
.whcm_toolbar_text{
    max-width: calc(100% - 210px);
}
.whcm_toolbar_text > h3{
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;    
}

@media (max-width: 767.98px) { 
    .whcm_toolbar_text > h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 575.98px) {
    .whcm_toolbar{
        flex-wrap: wrap;
    }
    .whcm_toolbar_text{
        width: 100%;
        max-width: 100%;
    }
    .whcm_toolbar_button{
        width: 100%;
        justify-content: center;  
    }
 }