.whcm_toolbar{
    width: calc(100% - 2rem) !important;
    background: var(--color_toolbar_back);
    border-radius: var(--border_radius_standar_max);
    box-shadow: var(--shadow_standar);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute !important;
    top: -2.063rem;
    z-index: 2;
}
.toolbar_edition{
    border-left: .5rem solid var(--color_estado_edición);
}
.toolbar_default{
    border-left: .5rem solid var(--color_primary_light);
}
.toolbar_creation{
    border-left: .5rem solid var(--color_estado_creación);
}
.layout_btn_negative-sm {
    max-width: 31px;
    min-width: 31px;
    max-height: 31px;
    min-height: 31px;
    color: var(--color_light_btn) !important;
    padding: 0.25rem !important;
    font-size: 1.35rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
}

.layout_btn_negative-sm::before {
    content: "";
    border-radius: var(--border_radius_standar);
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_negative_back);
    transition-duration: .2s;
}

.layout_btn_negative-sm:hover::before,
.layout_btn_negative-sm:focus::before {
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}

.layout_btn_negative-sm:hover i,
.layout_btn_negative-sm:focus i {
    color: var(--color_primary);
    z-index: 1;
    transition-duration: .2s;
}
.whcm_toolbar_text{
    max-width: calc(100% - 210px);
}
.whcm_toolbar_text > h3{
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    color: var(--color_text);   
}


@media (min-width: 1400px) {
    
    .topbarbutton_expand
    {
        display: none;
    }
 }

@media (max-width: 767.98px) { 
    .whcm_toolbar_text > h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 575.98px) {
    .whcm_toolbar{
        flex-wrap: wrap;
    }
    .whcm_toolbar_text{
        width: 100%;
        max-width: 100%;
    }
    .whcm_toolbar_button{
        width: 100%;
        justify-content: center;  
    }
 }

