:root {
    --color_back_body: #F0F3F4;
    --color_primary: #1031A3;
    --color_secondary: #2D71E6;
    --color_text: #19283F;
    --color_border: #CCCCCC;
    --color_back: #FCFCFC;
    --color_back_2: #F0F0F0;
    --color_primary_dark: #011865;
    --color_primary_light: #585AD5;
    --color_text_2: #808791;
    --color_light: #FFFFFF;

    --color_siesa_1: #1031A3;
    --color_siesa_2: #2D71E6;
    --color_siesa_3: #20CAE1;

    --color_estado_edición: #FFC500;
    --color_estado_creación: #00B100;
    --color_estado_persistencia: #FF6C00;

    --color_button_back: linear-gradient(135deg, rgba(88,90,213,.3) 0%, rgba(88,90,213,1) 100%);
    --color_primary_shadow: #1031A333;
    --shadow_standar: 0px 3px 12px var(--color_primary_shadow);

    /* Base: color primario light (Para even de tablas) */
    --color_table_even: rgba(88,90,213,0.04);
    /* Base: color primario light (Para hover de tablas) */
    --color_table_hover: rgba(88,90,213,0.1);
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color_border);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color_border);
    border-radius: 10px;
}
*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.font_color_1{
    color: var(--color_siesa_1);
}
.font_color_2{
    color: var(--color_siesa_2);
}
.font_color_3{
    color: var(--color_siesa_3);
}

.font_size_112{
    font-size: 1.125rem !important;
}
.font_size_087{
    font-size: 0.875rem !important;
}
.font_size_125{
    font-size: 1.25rem !important;
}
.whcm_home_body{
    background-color: var(--color_back_body);
}

body {
    background: #F0F3F4 0% 0% no-repeat padding-box;
}

.sdk-cursor-pointer {
    cursor: pointer;
}

.rz-grid-table{
    z-index: 0;
}

.search_tooltip_result {
    color: var(--color_primary);
}

.btn_primary_def_1{
    background-color: var(--color_primary) !important;
    border-color: var(--color_primary) !important;
    border-radius: 1.5rem !important;
    font-weight: 700 !important;
}
.btn_primary_def_1:hover{
    background-color: var(--color_primary_dark) !important;
    border-color: var(--color_primary_dark) !important;
}
.btn_secondary_def_1{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 1.5rem !important;
    font-weight: 700 !important;
    color: var(--color_primary) !important;
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_primary);
}
.btn_secondary_def_1:hover{
    background-color: var(--color_back_2) !important;
    border-color: transparent !important;
    border-radius: 1.5rem !important;
    font-weight: 700 !important;
    color: var(--color_primary);
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_primary);
}
.btn_secondary_def_1:focus{
    box-shadow: inset 0px 0px 0px 2px var(--color_primary) !important;
}
.btn_ghost_def_1{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 1.5rem !important;
    font-weight: 700 !important;
    color: var(--color_light);
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_light);
}
.btn_ghost_def_1:hover{
    background-color: var(--color_primary_light) !important;
    border-color: transparent !important;
    border-radius: 1.5rem !important;
    font-weight: 700 !important;
    color: var(--color_light);
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_light);
}
.btn_ghost_def_1:focus{
    box-shadow: inset 0px 0px 0px 2px var(--color_light) !important;
}
.btn_ghost_def_2{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 1.5rem !important;
    font-weight: 400 !important;
    color: var(--color_text) !important;
    min-width: 31px;
    text-align: right;
}
.btn_ghost_def_2:hover, .btn_ghost_def_2:active, .btn_ghost_def_2:focus {
    background-color: var(--color_back_2) !important;
    border-color: var(--color_back_2) !important;
}

.nav_btn_standar{
    width: 100%;
    height: 36px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none !important;
    background: transparent;
    z-index: 0;
}
.nav_btn_standar::before{
    content: "";
    border-radius: 4px;
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s; 
}
.nav_btn_standar_icon{
    min-width: 36px;
    color: var(--color_primary);
    display: flex;
    justify-content: center;
    transition-duration: .2s; 
}
.nav_btn_standar_text{
    padding: 0 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color_text);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: .2s; 
}
.nav_btn_standar:hover::before, .nav_btn_standar:focus::before,
.collapse_open_btn:hover::before, .collapse_open_btn:focus::before,
.nav_profile_btn:hover::before, .nav_profile_btn:focus::before{
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}
.nav_btn_standar:hover{
    text-decoration: none;
}
.nav_btn_standar:hover .nav_btn_standar_icon, 
.nav_btn_standar:hover .nav_btn_standar_text, 
.collapse_open_btn:hover .nav_btn_standar_icon, 
.collapse_open_btn:hover .nav_btn_standar_text,
.nav_profile_btn:hover .nav_btn_standar_icon, 
.nav_profile_btn:hover .nav_btn_standar_text,
.nav_btn_standar:focus .nav_btn_standar_icon, 
.nav_btn_standar:focus .nav_btn_standar_text,
.collapse_open_btn:focus .nav_btn_standar_icon, 
.collapse_open_btn:focus .nav_btn_standar_text,
.nav_profile_btn:focus .nav_btn_standar_icon, 
.nav_profile_btn:focus .nav_btn_standar_text{
    color: var(--color_light);
    transition-duration: .2s; 
}
input#collapse_open:checked ~ .collapse_open_btn > .nav_btn_standar_icon{
    transform: rotate(180deg);
    transition-duration: .25s;
}

.rz-datatable{
    border: none !important;
}
.rz-paginator-summary, .rz-pagesize-text{
    color: var(--color_text) !important;
}
.rz-paginator > .rz-paginator-last, .rz-paginator > .rz-paginator-next,
.rz-paginator > .rz-paginator-first, .rz-paginator > .rz-paginator-prev{
    background: none !important;
}
.rz-paginator > .rz-paginator-last > span, .rz-paginator > .rz-paginator-next > span,
.rz-paginator > .rz-paginator-first > span, .rz-paginator > .rz-paginator-prev > span{
    font-size: 1.5rem;
    color: var(--color_primary);
}
.whcm_table > div > table td, .whcm_table > div > table th {
    vertical-align: middle !important;
}
.whcm_table > div > table > thead > tr > th{
    padding: 0.5rem 0 !important;
    background-color: var(--color_light);
    border-bottom: 1px solid var(--color_primary);
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.whcm_table > div > table > thead > tr > th > div{
    padding: 0.25rem 0.5rem;
}
.whcm_table > div > table > thead > tr > th:not(:last-child) > div{
    border-right: 1px solid var(--color_primary);
}
.whcm_table > div > table > thead > tr > th > div > span{
    font-size: 0.875rem !important;
    line-height: 1.2 !important;
    max-width: calc(100% - 36px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle !important;
    margin: 0;
    padding: 0 !important;
    font-weight: 600 !important;
    text-transform: none !important;
}
.whcm_table > div > table > thead > tr > th > div > span:nth-child(2n){
    color: var(--color_primary) !important;
}
.whcm_table > div > table > thead > tr > th > div > i{
    font-size: 0.875rem !important;
    vertical-align: middle !important;
    margin-right: 0 !important;
    color: var(--color_primary);
}
.whcm_table > div > table > thead > tr > th > div > i:hover, .whcm_table > div > table > thead > tr > th > div > i:focus{
    color: var(--color_primary_dark);
}
.rz-selectable .rz-datatable-even:hover:not(.rz-state-highlight) > td:not(.rz-frozen-cell), .rz-selectable .rz-datatable-odd:hover:not(.rz-state-highlight) > td:not(.rz-frozen-cell) {
    background-color: var(--color_table_hover) !important;
}
.whcm_table > div > table > tbody > tr > td {
    border: none !important;
}
.whcm_table > div > table > tbody > tr:last-child > td {
    border-bottom: 1px solid var(--color_primary) !important;
}
.whcm_table > div > table > tbody > tr:nth-child(odd) > td {
    background-color: var(--color_light);
}
.whcm_table > div > table > tbody > tr:nth-child(even) > td {
    background-color: var(--color_table_even);
}
.whcm_table > div > table > tbody > tr > td > span {
    color: var(--color_text) !important;
}
.w-100-max{
    max-width: 100% !important;
}

.layout_btn_standar-sm{
    max-width: 31px;
    min-width: 31px;
    max-height: 31px;
    min-height: 31px;
    color: var(--color_primary);
    padding: 0.25rem !important;
    font-size: 1.2rem !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    background: none;
}
.layout_btn_standar-sm::before{
    content: "";
    border-radius: 0.2rem;
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s; 
}
.layout_btn_standar-sm:hover::before, .layout_btn_standar-sm:focus::before{
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}
.layout_btn_standar-sm:hover i, .layout_btn_standar-sm:focus i{
    color: var(--color_light);
    z-index: 1;
    transition-duration: .2s; 
}

.whcm_table{
    height: calc(100vh - 300px);
}

.whcm_toolbar_tooltip{
    max-width: 64px;
    border-radius: 4px;
    color: var(--color_text);
    background-color: var(--color_light);
    position: absolute;
    top: 42px;
    right: -0.5rem;
    z-index: 1;
    box-shadow: var(--shadow_standar);
    font-size: 0.875rem;
}
.whcm_toolbar_tooltip::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    left: 0.4rem;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
}

.whcm_table > ::-webkit-scrollbar{
    width: 13px;
}

.whcm_table > ::-webkit-scrollbar-thumb{
    background-color: var(--color_border) !important; 
}