
.sdk_header{
    height: 48px;
    width: 100%;
    background: var(--color_primary_header);
    box-shadow: var(--shadow_standar);
    position: fixed !important;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: .5rem 0.875rem;
}
.header_circles_box{
    height: 48px;
    width: 690px;
    overflow: hidden;
    position: absolute;
    left: -240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_circles_box_1, .header_circles_box_2, .header_circles_box_3, .header_circles_box_4{
    background-color: white;
    border-radius: 0%;
    position: absolute;
    transform: rotate(45deg) translateY(-48px);
}
.header_circles_box_1{
    width: 450px;
    height: 450px;
    opacity: .1;
}
.header_circles_box_2{
    width: 355px;
    height: 355px;
    opacity: .2;
}
.header_circles_box_3{
    width: 280px;
    height: 280px;
    opacity: .5;
}
.header_circles_box_4{
    width: 250px;
    height: 250px;
    opacity: 1;
}
.header_circles_box_logo {
    position: absolute;
    right: -335px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 48px;
    width: 600px;
}

.header_circles_box_logo>.header_circles_box_1,
.header_circles_box_logo>.header_circles_box_2,
.header_circles_box_logo>.header_circles_box_3,
.header_circles_box_logo>.header_circles_box_4 {
    background-color: white;
    border-radius: 0%;
    position: absolute;
    transform: rotate(45deg) translateY(48px);
}

.header_circles_box_logo>.header_circles_box_1 {
    width: 264px;
    height: 264px;
    opacity: .1;
}

.header_circles_box_logo>.header_circles_box_2 {
    width: 252px;
    height: 252px;
    opacity: .2;
}

.header_circles_box_logo>.header_circles_box_3 {
    width: 246px;
    height: 246px;
    opacity: .5;
}

.header_circles_box_logo>.header_circles_box_4 {
    width: 240px;
    height: 240px;
    opacity: 1;
}

.sdk_version{
    font-size: .75rem;
    color: white;
    text-align: right;
    border-left: 1px solid white;
    border-right: none;
    line-height: 1.2;
}
.sdk_conection>div>.btn_connect{
    background: none;
    color: white;
    font-size: .75rem;
    text-align: right;
    margin: 0;
    border: none;
    line-height: 1.2;  
}
.sdk_conection>div>.btn_connect>div>p{
    max-width: 160px;
}


/* .sdk_conection ::deep .dxbl-dropdown>.dxbs-dropdown-dialog
{
    min-width: 268px;
    max-width: 268px;
    border-radius: var(--border_radius_standar);
    background-color: var(--color_panel_back);
    position: absolute;
    top: 42px;
    right: -2px;
    z-index: 1;
    box-shadow: var(--shadow_standar);
    display: none;

}
.sdk_conection ::deep .dxbl-dropdown>.dxbs-dropdown-dialog::before
{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    right: 15px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--color_panel_back);
    border-left: 9px solid transparent;

} */

.dxbs-dropdown  ::deep .connect_tooltip{
    min-width: 268px;
    max-width: 268px;
    border-radius: var(--border_radius_standar);
    background-color: var(--color_panel_back);
    position: absolute;
    top: 42px;
    right: -2px;
    z-index: 1;
    box-shadow: var(--shadow_standar);
    display: none;
}
.dxbs-dropdown  ::deep  .connect_tooltip::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    right: 15px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--color_panel_back);
    border-left: 9px solid transparent;
}
.width_content_Header
{
    min-width: 230px !important;

}
.connect_select_search {
    position: relative;
}
.connect_select_search>div>select {
    width: calc(100% - 2rem);
    border: none;
    border-radius: var(--border_radius_standar);
    outline: none !important;
    /* background: none; */
}
.connect_select_search>div>button {
    width: 2rem;
    padding: 0.25rem 0.25rem;
    font-size: 1.125rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color_primary_light);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
}
.whcm_logo_compania{
    max-height: 32px;
    max-width: 100%;
    object-fit: contain;
}
.whcm_logo_head{
    max-height: 30px;
    max-width: 105px;
    object-fit: contain;
}



@media (max-width: 1199.98px) {
    .header_circles_box_1{
        opacity: 0;
    }
    .sdk_conection>div>.btn_connect>div>p{
        max-width: 140px;
    }
}

@media (max-width: 991.98px) { 
    .header_circles_box {
        left: -250px;
    }
    
    .header_circles_box_logo {
        right: -355px;
    }
    
    .whcm_panel_user_home {
        border: none !important;
        text-align: center;
        padding-top: 1rem;
    }
    .header_circles_box_2{
        opacity: .05;
    }
    .header_circles_box_3{
        opacity: .2;
    }
    .whcm_logo_head{
        max-height: 20px;
        max-width: 100%;
    }
    .sdk_conection>div>.btn_connect{
        font-size: 0.625rem; 
    }
    .sdk_version{
        font-size: 0.625rem;   
    }
    .sdk_conection>div>.btn_connect>div>p{
        max-width: 120px;
    }
}

@media (max-width: 767.98px) { 
    .header_circles_box_3{
        opacity: .1;
    }
    .whcm_logo_head{
        max-height: 18px;
        max-width: 100%;
    }
    .sdk_version{
        border: none;
        color: var(--color_text_2);
    }
    .sdk_conection>div>.btn_connect{
        font-size: 0.75rem; 
    }
    .sdk_version{
        font-size: 0.75rem;   
    }
    .whcm_footer{
        width: 100vw;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 0.5rem;
        background-color: var(--color_light);
        box-shadow: var(--shadow_standar);
    }
    .header_circles_box {
        left: -270px;
    }
    
    .whcm_logo_compania {
        max-width: 160px;
    }
    
    .header_circles_box_logo {
        display: none;
    }
    
    .whcm_panel_company {
        padding-top: 1rem;
    }
}

@media (max-width: 575.98px) {
    .whcm_logo_compania{
        max-width: 125px;
    }
    .header_circles_box{
        left: -320px;
    }
    .width_content_Header {
        min-width: calc(100vw - 2rem) !important;
    }
 }