@using Siesa.SDK.Shared.Services
@inject IAuthenticationService AuthenticationService

<header class="col-12 sdk_header_portal">
    <div class="row sdk_header_portal_container">
        <div class="col-6 p-0 sdk_company_logo">
            <a class="nav_logo" >
                <img class="ml-2 whcm_logo_compania" src="@LogoUrl" height="30px"
                    alt="Logo compania">
            </a>
        </div>
        <div class="col-6 sdk_profile" >
            <div class="row">
                <h6 class="sdk_name_profile">@UserName</h6>
                <div class="sdk_picture_profile">
                    <SDKIcon Name="fa-user" />
                </div>
            </div>
        </div>
    </div>    
   
</header>

@code {
    private string LogoUrl { get; set; }
    private string UserName { get; set; }
    
    /// <summary>
    /// Executed when component parameters are set.
    /// </summary>
    protected override void OnParametersSet()
    {
        LogoUrl = AuthenticationService.GetConnectionLogo();
        UserName = AuthenticationService.User?.PortalUser?.Id;
        base.OnParametersSet();
    }
}