.relationship-panel{
    width: 100%;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.relationship-panel .relationship-panel-header{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.relationship-panel .relationship-panel-header .relationship-panel-header-title{
    font-size: 14px;
    font-weight: bold;
}
.relationship-panel .relationship-panel-header .relationship-panel-header-close{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.relationship-panel .relationship-panel-header .relationship-panel-header-close > span{
    margin-right: 5px;
}

.relationship-panel .relationship-panel-body{
    padding: 10px;
}