:root {
    --color_back_body: #3C596E;

    --color_primary: #E4EFFE;
    --color_primary_header: #042339;
    --color_secondary: #1864F3;
    --color_cancel: #0467AD;
    --color_text: #E6F1FF;
    --color_form_border: #3E7FAF;
    --color_border: #3E7FAF;
    --color_back: #113650;
    --color_field_detail: #1E5176;
    --color_back_2: #042339;

    --color_primary_dark: #A5CDFF;
    --color_primary_light: #57BCFF;
    --color_primary_light_2: #6388A8;
    --color_cancel_dark: #042339;
    --color_text_2: #E4EFFE;
    --color_light: #FFFFFF;
    --color_light_btn: #042339;

    --color_siesa_1: #0E79FD;
    --color_siesa_2: #2345CB;
    --color_siesa_3: #23ACFF;

    --color_validacion_error: #F24455;
    --color_validacion_success: #27CB4C;

    --color_estado_edición: #F6C744;
    --color_estado_creación: #F24455;
    --color_estado_persistencia: #27CB4C;

    --color_estado_card_rechazado: #F24455;
    --color_estado_card_pendiente: #F6C744;
    --color_estado_card_aprobado: #27CB4C;
    --color_estado_card_info: #009CFF;

    --color_privacidad_publico: #00BA5E;
    --color_privacidad_confidencial: #F96042;

    /* Base: color primary*/
    --color_button_back: #0E79FD;
    /* Base: color light */
    --color_button_negative_back: #FFFFFF;
    /* Base: color primary */
    --color_button_back_180: #00142161;
    /* Base: color primario dark con 30% de transparencia */
    --color_primary_shadow: #050b2433;
    --shadow_standar: 0px 3px 12px var(--color_primary_shadow);
    /* Base: color primario con 10% de transparencia */
    --color_primary_shadow_min: #06113a0d;
    --shadow_standar_min: 0px 3px 12px var(--color_primary_shadow_min);
    /* Base: color primary (Para even de tablas) */
    --color_table_even: rgba(14, 121, 253, 0.04);
    /* Base: color primary (Para hover de tablas) */
    --color_table_hover: rgba(14, 121, 253, 0.1);

    --color_search_back: #23ACFF;

    --border_radius_card_login: 0.5rem;
    --border_radius_standar: .25rem;
    --border_radius_standar_max: .5rem;
    --border_radius_btn_min: .25rem;
    --border_radius_btn: 1.5rem;

    --color_input_back: #3E7FAF;
    --color_toolbar_back: #042339;
    --color_area2_back: #074069;
    --color_panel_back: #074069;
    --color_light_text: #042339;
    --color_light_nav: #042339;
    --color_light_table: #074069;
    --color_border_card: #ffffff33;
    --color_focus_general: #8DCFFF;

    --color_alert_text: #FFFFFF;
    --color_alert_info: #009CFF;
    --color_alert_success: #00BA5E;
    --color_alert_error: #E00052;
    --color_alert_warning: #F5A927;

    --color_delete: #e00052;
    --color_delete_dark: #910047;

    --color_error_log: #E00052;
    /* Base: color error log */
    --color_error_log_back_180: linear-gradient(180deg, rgba(224, 0, 82,0) 0%, rgba(224, 0, 82,1) 100%);

    --rz-notification-error-icon-color: #FFFFFF !important;
    --rz-notification-warning-icon-color: #FFFFFF !important;
    --rz-notification-success-icon-color: #FFFFFF !important;
    --rz-notification-info-icon-color: #FFFFFF !important;
    --rz-dialog-title-background-color: #042339 !important;
    --rz-dialog-title-color: #FFFFFF !important;
    --rz-grid-column-resizer-helper-background-color: var(--color_primary) !important;
    --rz-grid-column-resizer-helper-width: 2px !important;

    --rz-grid-hover-background-color: var(--color_table_hover) !important;

    --animate_faster: all 0.2s ease;
}