@page "/ReportDesigner"

@inject IJSRuntime JSRuntime;

<div id="designer-id" style="width: 100%; height: 100%;"></div>

@code {

    private IJSObjectReference _jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         if(firstRender || _jsModule == null){
            _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/ActiveReport/Page/ReportDesigner.razor.js");
            await JSRuntime.InvokeVoidAsync("initDesigner");
        }
        /*if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initDesigner");
        }*/
    }

}