@* @page "/ReportDesigner"  Arreglar navegacion archivo .js, basarme en MainLayout*@



@inject IJSRuntime JSRuntime;

<div id="designer-id" class="sdk_reportdesigner"></div>

@code {

    private IJSObjectReference _jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender || _jsModule == null)
        {
            await ImportJs();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _ = InitSDKJS();
    }

    private async Task InitSDKJS()
    {
        try
        {
            if(_jsModule == null)
            {
                await ImportJs();
            }
            await _jsModule.InvokeVoidAsync("ReportDesginer");
            await _jsModule.InvokeVoidAsync("InitSDK", DotNetObjectReference.Create(this));
        }
        catch (Exception)
        {
        }
        StateHasChanged();
    }

    private async Task ImportJs()
    {
        
        try
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/js/utils.js");
        }catch (Exception)
        {
        }
        try
        {
            _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/ActiveReport/Page/ReportDesigner.razor.js");
        }
        catch (Exception)
        {
        }
        
    }


}