
@using GrapeCity.ActiveReports.Blazor.Viewer

@page "/ReportViewer"

<div class="main">
    <div id="viewerContainer" class="sdk_reportviewer">
        <ReportViewer @ref="_viewer" ReportName="@_currentReport" />
    </div>
</div>

@code{

    private ReportViewer _viewer;
    private string _currentReport = "PruebaVentas.rdlx";
}