:root {
    --animate_faster: all 0.2s ease;
}

.dash_back::before {
    content: '';
    background: #6E6E6E;
    position: fixed;
    width: 460px;
    height: 460px;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    opacity: 0.08;
}

.dash_back::after {
    content: '';
    background: #6E6E6E;
    position: fixed;
    width: 460px;
    height: 460px;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
    opacity: 0.08;
    z-index: -1;
}