@using Siesa.SDK.Entities

<aside class="sdk_dashboard_portal">
    <h3>@PortalName</h3>
</aside>

@code {
    [Parameter] public E00517_Portal Portal { get; set; }
    public string PortalName { get; set; }

    protected override void OnParametersSet()
    {
        if(Portal != null)
        {
            PortalName = Portal.Id;
        }
        base.OnParametersSet();
    }
}