.sdk_dashboard_portal{
    /* height: 100%; */
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: calc(48px + 0.8rem);
    /* padding-bottom: calc(32px + 7rem); */
    padding-left: calc(48px + 0.8rem);
    padding-right: 0.8rem;
}

::deep .sdk_dashboard_portal_zoom_section{
    height: calc(100vh - 4rem);
}