
/*ZONA SUPERIOR/
/*FOTO DE PERFIL*/


/*ZONA INFERIOR*/




.siesa-color-title{
    color: var(--color_primary);
}
/*TEMA*/
/*CARRUSEL*/

.carousel-control-prev-icon{
    background-image: unset !important;
}

.carousel-control-next-icon{
    background-image:unset !important;
}




/*ESTILO DE ÃCONO*/

/*
.tarjeta-icono{
    border: solid 1px #DFDFDF;
    box-shadow: var(--shadow_standar_min);
}
*/

/*BARRA DE HERRAMIENTAS*/

/*
.tarjeta-barra-herramientas{
    border: solid 1px #DFDFDF;
    box-shadow: var(--shadow_standar_min);
}
*/


@media (min-width:992px){
    /*ZONA INFERIOR*/

.custom-border{
    border-right: 1px solid #E1E1E1;
}


}

@media (max-width:991px){
    .custom-border-2{
        border-bottom: 1px solid #E1E1E1;
    }
}


/*Select List  CSS----------------------------------------------------*/

.whcm_select_box > .whcm_select_list{
    box-shadow: var(--shadow_standar);
    border: 1px solid var(--color_border);
    border-radius: var(--border_radius_standar);
    background: var(--color_light);
    color: var(--color_text);
    position: absolute;
    padding: 0;
    top: 2rem;
    min-width: 100%;
    max-height: 240px;
    overflow-y: auto;
    z-index: 1;
 }
 .whcm_select_box > .whcm_select_list>ul{
    padding: 0;
    margin: 0;
    list-style: none;
 }
 .whcm_select_box > .whcm_select_list>ul>li{
    padding: 0.5rem;
 }
 .whcm_select_box > .whcm_select_list>ul>li:hover{
    background: var(--color_back_2);
 }
 .whcm_select_box > .whcm_select_list>ul>li>div>div>p{
    padding-left: 1rem;
    text-indent: -1rem;
 }
 .whcm_select_box>.input-group-append>.whcm-btn-outline{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 }
 .whcm_select_box>.input-group-append>.whcm-btn-outline:not(:last-child){
    border-left: none;
    border-right: none;
 }
 .whcm_select_box>.input-group-append>.whcm-btn-outline{
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem !important;
    line-height: 1 !important;
    border-radius: 0.2rem;
 }
 .whcm_select_box>.input-group-append >.whcm-btn-outline:last-child{
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius: 0.2rem !important;
    border-left: none;
 }
 .whcm_select_box>.input-group-append >.whcm-btn-outline {
    color: var(--color_primary_light);
    border-color: #ced4da;
 }
 .whcm_select_box>.input-group-append >.whcm-btn-outline:hover {
    color: var(--color_primary_light);
    border-color: #ced4da;
    background-color: var(--color_back_2);
 }
 .whcm_select_list_img {
    min-width: 2.25rem;
    min-height: 2.25rem;
    max-width: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    box-shadow: var(--shadow_standar);
    padding: 0;
    overflow: hidden;
    border: 2px solid var(--color_light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.13rem 0.25rem 0.13rem;
 }

 /*Data Related ----------------------------------------*/

 .whcm_data_related_box_hide{
    position: absolute !important;
    right: 0;
    top: 1.5rem;
    z-index: 1;
}
.whcm_data_related_box{
    position: absolute !important;
    right: 0;
    top: 1.5rem;
    z-index: 11;
}
.whcm_data_related_box_crud{
    position: absolute !important;
    right: 0;
    top: 1.5rem;
    z-index: 11;
}
.whcm_data_related_back{
    position: fixed;
    top: 0;
    right: 0;
    right: 0;
    background: var(--color_button_back_180);
    width: 100vw;
    height: 100vh;
    opacity: .7;
    z-index: -1;
    transition: var(--animate_faster);
}
.whcm_data_related_box_hide > .whcm_data_related_back{
    position: fixed;
    top: 0;
    right: 0;
    right: 0;
    background: var(--color_button_back_180);
    width: 0;
    height: 100vh;
    opacity: 0;
    z-index: -1;
}
.whcm_data_related_box_hide > .whcm_data_related_btn, .whcm_data_related_box_crud > .whcm_data_related_btn{
    position: absolute;
    top: 1rem;
    right: -1.813rem;
    padding: 0.5rem 0.35rem;
    line-height: 1;
    font-size: 0.875rem;
    color: var(--color_light);
    background: var(--color_primary);
    border-radius: var(--border_radius_standar);
    border: none;
    outline: none;
    box-shadow: var(--shadow_standar);
    transform: rotate(180deg);
    transition: var(--animate_faster);
    min-width: 1.5rem;
}
.whcm_data_related_btn{
    position: absolute;
    top: 1rem;
    right: 250px;
    padding: 0.5rem 0.35rem;
    line-height: 1;
    font-size: 0.875rem;
    color: var(--color_light);
    background: var(--color_primary);
    border-radius: var(--border_radius_standar);
    border: none;
    outline: none;
    box-shadow: var(--shadow_standar);
    transform: rotate(180deg);
    transition: var(--animate_faster);
    min-width: 1.5rem;
}
.whcm_data_related_btn > p > i{
    transform: rotate(180deg);
}
.whcm_data_related_btn > p{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 0;
    margin: 0;
}
.whcm_data_related_box_hide > .whcm_data_related_content, .whcm_data_related_box_crud > .whcm_data_related_content{
    position: absolute;
    top: 0;
    right: -30rem;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_light);
    border-radius: 1rem;
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    transition: var(--animate_faster);
}
.whcm_data_related_content{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    box-shadow: var(--shadow_standar);
    background: var(--color_light);
    border-radius: 1rem;
    display: inline-block;
    min-width: 250px;
    max-width: 250px;
    transition: var(--animate_faster);
}
.panel_box_data{
    max-height: calc(100vh - 17rem);
    overflow: auto;
}
.whcm_data_related_box_crud > .whcm_data_open_box{
    background: var(--color_light);
    box-shadow: var(--shadow_standar);
    border-radius: var(--border_radius_standar);
    border: none;
    margin-top: 5rem;
    display: block;
}
.whcm_data_open_box{
    background: var(--color_light);
    box-shadow: var(--shadow_standar);
    border-radius: var(--border_radius_standar);
    border: none;
    margin-top: 5rem;
    display: none;
}
.index_btn_related{
    z-index: 2;
} 