@using Siesa.SDK.Entities;
<div class="d-flex flex-fill pt-1 pb-2 popup-demo-item">
    <DxFormLayout Data="@_Cultures" CssClass="w-100">
            <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <label class="col-12 text-center"><ResourceViewer ResourceTag="BLLogin.SelectCulture" RowidCulture=@_idRow /></label>
                    @foreach (var culture in _Cultures)
                    {
                        <DxButton class="col-12 btn btn-light text-left rounded-pill" style="margin-bottom: 5px;"  Click="((e) => OnChangeCulture(culture.Rowid))" >
                            <span class="ml-2 btn_region fi fi-@culture.CountryCode fis rounded-circle" style="height:16px" ></span>
                            @culture.Description - @culture.LanguageCode.ToUpper()
                        </DxButton>                          
                    }                    
                </div>                
            </div>
        </div>                    
    </DxFormLayout>
    
</div>

@code{
    [Parameter]
    public short _idRow {get;set;} 
    [Parameter]
    public List<E00021_Culture> _Cultures {get;set;}

    [Parameter]
    public Action<short> OnChangeCulture {get;set;}
    
}