<div class="d-flex flex-fill pt-1 pb-2">
    
</div>

<div class="d-flex flex-fill pt-1 pb-2 popup-demo-item">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <label class="col-12 text-center">Selecciona tu Pais</label>
                <label class="col-12 btn btn-light text-left rounded-pill">
                    <i class="btn ml-2 btn_region fi fi-de fi fi-de fis"></i>
                    Alemania
                </label>
                <label class="col-12 btn btn-light text-left rounded-pill">
                    <i class="btn ml-2 btn_region fi fi-br fi fi-br fis"></i>
                    Brasil
                </label>
                <label class="col-12 btn btn-light text-left rounded-pill active">
                    <i class="btn ml-2 btn_region fi fi-co fi fi-co fis"></i>
                    Colombia
                </label>
                <label class="col-12 btn btn-light text-left rounded-pill">
                    <i class="btn ml-2 btn_region fi fi-us fi fi-us fis"></i>
                    Estados Unidos
                </label>
                <label class="col-12 btn btn-light text-left rounded-pill">
                    <i class="btn ml-2 btn_region fi fi-fr fi fi-fr fis"></i>
                    Francia
                </label>
            </div>
            <div class="col-6">
                <label class="col-12 text-center">Selecciona tu Idioma</label>
                <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol AR</label>
                <label class="col-12 btn btn-light text-left rounded-pill active">Espa単ol CO</label>
                <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol ES</label>
                <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol MX</label>
            </div>
        </div>
    </div>                    
</div>

