@using Siesa.SDK.Entities;
<div class="d-flex flex-fill pt-1 pb-2 popup-demo-item">
    <DxFormLayout Data="@_Cultures" CssClass="w-100">
            <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <label class="col-12 text-center">Selecciona tu Pais</label>
                    @foreach (var culture in _Cultures)
                    {
                        <label class="col-12 btn btn-light text-left rounded-pill">                            
                        <i class="btn ml-2 btn_region fi fi-@culture.CountryCode fi fi-@culture.CountryCode fis rounded-pill" style="height: 15px;"></i>                        
                        @culture.Description
                    </label>    
                    }                    
                </div>
                <div class="col-6">
                    <label class="col-12 text-center">Selecciona tu Idioma</label>
                    <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol AR</label>
                    <label class="col-12 btn btn-light text-left rounded-pill active">Espa単ol CO</label>
                    <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol ES</label>
                    <label class="col-12 btn btn-light text-left rounded-pill">Espa単ol MX</label>
                </div>
            </div>
        </div>                    
    </DxFormLayout>
    
</div>

@code{
    [Parameter]
    public short _idRow {get;set;} 
    [Parameter]
    public List<E00021_Culture> _Cultures {get;set;}
    
}