.login_loading{
    background-color: var(--color_back);
    width: 140vw;
    height: 200vh;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 100vh);
    left: calc(50% - 70vw);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: login_loading_out;
    animation-duration: 0.6s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}
.login_loading>div{
    animation-name: login_loading_frames;
    animation-duration: 2.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
.back_login {
    background-image: url(assets/img/Background_Gris.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    place-items: center;
}
.card_login{
    border-radius: 20px;
    box-shadow: 6px 6px 24px #00000017;
}
.image_back::before {
    content: "";
    background-image: url(assets/img/log_image.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: calc(100% - (8.333333%*4));
    position: absolute;
    border-radius: 20px;
}
.image_back::after {
    content: "";
    background-image: linear-gradient(to bottom, #00000094 0%, #00000000 25%, #00000000 50%, var(--color_primary) 100%);
    mix-blend-mode: multiply;
    height: 100%;
    width: calc(100% - (8.333333%*4));
    position: absolute;
    border-radius: 20px;
}
.info_area{
    z-index: 1;
    perspective: 60rem;
}
.info_card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    color: white;
    position: absolute !important;
    width: calc(100% - 2.5rem) !important;
    bottom: 1.5rem !important;
    opacity: 0;
    transform-style: preserve-3d;
    -webkit-animation: flip-in-hor-bottom 0.6s linear forwards;
	        animation: flip-in-hor-bottom 0.6s linear forwards;
            animation-delay: 3s;
    
}
.info_card_modal{
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 20px !important;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.29);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    color: white;
}
.info_card>p{
    width: 100%;
    height: 46px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
.login_area {
    overflow: hidden;
    z-index: 1;
    border-radius: 20px;
}
.login_area::before{
    content: "";
    width: 3000px;
    height: 3000px;
    background-color: var(--color_back);
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: calc(50% - 1500px);
    z-index: -1;
}
.login_area>.row{
    opacity: 0;
    -webkit-animation: slide-in-top 0.6s ease-in forwards;
	        animation: slide-in-top 0.6s ease-in forwards;
            animation-delay: 3s;
}
.select_connect{
    padding: 0 !important;
    margin: 0;
    border: none;
    background: none;
    font-size: .875rem;
    max-width: calc(100% - 60px);
    text-overflow: ellipsis;
}
.btn_region{
    min-width: 16px;
    min-height: 16px;
    border-radius: 50% !important;
    padding: 0 !important;
    overflow: hidden;
    border: none !important;
}
.region_tooltip{
    min-width: 230px;
    max-width: 230px;
    max-height: 280px;
    border-radius: 4px;
    background-color: var(--color_light);
    position: absolute;
    top: 28px;
    right: -16px;
    z-index: 1;
    box-shadow: 3px 3px 12px rgba(25, 48, 157, 0.2);
    display: none;
}
.region_tooltip::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: -8px;
    right: 15px;
    border-top: 0px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
    border-left: 9px solid transparent;
}
.region_tooltip>div{
    max-height:240px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
.region_tooltip_text{
    text-overflow: ellipsis;
    overflow: hidden;
}
.title_1{
    font-size: 2rem;
    color: var(--color_primary);
    font-weight: 400;
}
.title_2{
    font-size: 1.125rem;
    color: var(--color_text);
    font-weight: 400;
}
.col-form-label{
    color: var(--color_text) !important;
}
.link_login{
    font-size: .875rem;
    text-decoration: none;
    color: var(--color_primary);
    font-weight: 400;
    text-align: center;
}
.copy_right_text{
    font-size: 0.75rem;
    color: var(--color_text);
}


.btn_ghost_def_1{
    background-color: transparent !important;
    border-color: transparent !important;
    border-radius: 1rem !important;
    font-weight: 700 !important;
    color: var(--color_light);
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_light);
}
.btn_ghost_def_1:hover{
    background-color: var(--color_primary_light) !important;
    border-color: transparent !important;
    border-radius: 1rem !important;
    font-weight: 700 !important;
    color: var(--color_light);
    min-width: 31px;
    box-shadow: inset 0px 0px 0px 2px var(--color_light);
}
.btn_ghost_def_1:focus{
    box-shadow: inset 0px 0px 0px 2px var(--color_light) !important;
}


/* ------------ RESPONSIVE INICIO ------------ */
@media (max-width: 991.98px) { 
    .login_area::before{
        content: "";
        width: 3000px;
        height: 3000px;
        background-color: var(--color_back);
        border-radius: 50%;
        position: absolute;
        left: calc(50% - 1500px);
        top: 0px;
        z-index: -1;
    }
    .image_back::before {
        height: 54%;
        width: 100%;
    }
    .image_back::after {
        height: 54%;
        width: 100%;
    }
    .border_left_md{
        border-left: 1px solid var(--color_border);
    }
    .info_card{
        position: relative !important;
        width: 100% !important;
        bottom: 0 !important;
    }
 }
 @media (max-width: 767.98px) { 
    .back_login {
        place-items: start;
    }
    .card_login{
        border-radius: 0px;
        overflow: hidden;
        box-shadow: none;
    }
    .image_back::before {
        height: 29%;
        width: 100%;
        border-radius: 0px;
    }
    .image_back::after {
        height: 29%;
        width: 100%;
        border-radius: 0px;
    }
    .border_left_md{
        border-left: none;
    }
}
@media (max-width: 575.98px) { 
    .image_back::before {
        height: 26%;
        width: 100%;
        border-radius: 0px;
    }
    .image_back::after {
        height: 26%;
        width: 100%;
        border-radius: 0px;
    }
}
/* ------------ RESPONSIVE FIN ------------ */

/* ------------ ANIMACIONES INICIO ------------ */

@keyframes login_loading_out {
    0% { 
        opacity: 1;
    }
    99%{
        opacity: 1;
        left: 101%;
    }
    100% { 
        opacity: 0;
        left: 101%;
        display: none; 
        visibility: hidden;
    }
}
@keyframes login_loading_frames {
    0% { 
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% { 
        opacity: 0; 
    }
    100% { 
        opacity: 0;
        display: none; 
        visibility: hidden;
    }
}
@keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
}
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

/* ------------ ANIMACIONES FIN ------------ */