@page "/login/recoverypassword/{UserRowId}"

@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Shared.DataAnnotations
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Services
@using Siesa.SDK.Shared.Criptography
@using Siesa.SDK.Entities
@layout EmptyLayout

@inject IAuthenticationService AuthenticationService
@inject SDKNotificationService NotificationService
@inject NavigationService NavigationService
@inject ISDKJWT SDKJWT

<PageTitle>Recovery password</PageTitle>

<div class="back_login">

    <div class="col-12 offset-md-1 col-md-10 px-0 px-md-3">
        <div class="card_login col-12">
            <div class="row image_back image_back_empleo">
                <div class="info_area col-md-12 col-lg-7 p-3 p-lg-4">
                    <div class="col-12 p-0 pb-5 mb-5 mb-md-4 d-flex justify-content-between">
                        <div>
                            <img src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesaBlanco.svg" height="38px" />
                        </div>
                        <div class="d-sm-block d-md-none">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2" data-toggle="modal"
                                data-target="#infoModal"><SDKIcon Name="fa-info"/></button>
                        </div>
                    </div>
                    <div class="info_card d-none d-sm-none d-md-block col-12 p-3 p-md-3 p-lg-4 mt-4">
                        <h2 class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                        <p class="mb-md-2 mb-lg-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /> </p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4">+ Información</button>
                            <div>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                        class="fa-solid fa-chevron-left"></i></button>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                        class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login_area col-12 col-lg-5 p-3 p-lg-4">
                    <div class="row align-items-center py-5">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="row">
                                <div class="col-12 p-0 d-flex justify-content-center pb-4">
                                    <img src="@LogoUrl"
                                        height="48px" />
                                </div>
                                <div class="col-12 p-0 pb-4 pb-md-0 pb-lg-4">
                                    <div class="col-12 text-center title_1">
                                        <ResourceViewer ResourceTag="Custom.SDK.ChangePassword" RowidCulture=@RowidCulture />
                                    </div>
                                    <div class="col-12 text-center title_2">
                                        <ResourceViewer ResourceTag="BLUser.RecoveryPassword" RowidCulture=@RowidCulture />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border_left_md col-12 col-sm-12 col-md-6 col-lg-12">
                            <div
                                class="col-12 offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 px-md-3 px-lg-0">
                                <EditForm Model="@_Model" OnValidSubmit="ChangePasswordUser">
                                    <DataAnnotationsValidator />
                                    @if (ValidUser)
                                    {
                                        <div class="form-group">
                                            <label class="col_form_label col_form_label-sm font-weight-bold" for="Password">
                                                <ResourceViewer ResourceTag="Custom.SDK.NewPassword"
                                                RowidCulture=@RowidCulture />
                                            </label>
                                            <InputText @bind-Value="_Model.Password" type="password"
                                            class="form-control form-control-sm" autofocus />
                                            <ValidationMessage For="@(() => _Model.Password)" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col_form_label col_form_label-sm font-weight-bold" for="Password">
                                                <ResourceViewer ResourceTag="Custom.SDK.ConfirmNewPassword"
                                                RowidCulture=@RowidCulture />
                                            </label>
                                            <InputText @bind-Value="_Model.ConfirmPassword" type="password"
                                            class="form-control form-control-sm" />
                                           <ValidationMessage For="@(() => _Model.ConfirmPassword)" />
                                        </div>
                                        <button class="btn btn-primary btn_primary_def_1 btn-sm w-100 mt-2">
                                            @if (loading)
                                            {
                                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                            }
                                            <ResourceViewer ResourceTag="BLUser.ChangePassword"
                                            RowidCulture=@RowidCulture />
                                        </button>
                                    }
                                    else
                                    {
                                        <p class="alert alert-danger mt-3 mb-0">
                                            <ResourceViewer ResourceTag="Custom.SDK.TokenInvalid"
                                            RowidCulture=@RowidCulture />
                                        </p>
                                    }
                                </EditForm>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 text-center copy_right_text">
                        <ResourceViewer ResourceTag="Custom.Project.Version" RowidCulture=@RowidCulture /> -
                        <ResourceViewer ResourceTag="Custom.Project.Copy" RowidCulture=@RowidCulture />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content info_card_modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="mb-2 pr-3"><ResourceViewer ResourceTag="BLLogin.Demo.NewsTitle" RowidCulture=@RowidCulture /></h2>
                    <p class="mb-2"><ResourceViewer ResourceTag="BLLogin.Demo.NewsBody" RowidCulture=@RowidCulture /> </p>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4">
                            <ResourceViewer ResourceTag="BLLogin.MoreInfo" RowidCulture=@RowidCulture />
                        </button>
                        <div>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                    class="fa-solid fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="LangModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="login_loading">
        <div>
            <div class="text-center fa-4x font_color_3 mb-4">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
            <div class="text-center">
                <img src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesa.svg" height="82px" />
            </div>
        </div>
    </div>
</div>

@code{

    [Parameter] public string UserRowid { get; set; }

    bool ValidUser { get; set; }

    private short RowidCulture { get; set; } 
    private bool loading;
    private string error;
    private string LogoUrl { get; set; } = "";
    private PasswordChangeModel _Model = new PasswordChangeModel();

        
     private async void ChangePasswordUser()
    {
        //TODO: Validar el token
        loading = true;
        try
        {
            int rowid = int.Parse(UserRowid);
            var result = await AuthenticationService.ChangePassword(rowid, _Model.Password, _Model.ConfirmPassword);

            if (result)
            {
                loading = false;
                NotificationService.ShowSuccess("Custom.ForgotPassword.ChangePassword", culture: RowidCulture);
                NavigationService.NavigateTo("/", forceLoad: true,replace: true);
            }
            else
            {
                NotificationService.ShowError("Custom.ForgotPassword.ChangePasswordError", culture: RowidCulture);
                ValidUser = false;
                loading = false;
                StateHasChanged();
            }
            
        }
        catch (Exception ex)
        {
            
        }
    }
    private async void Init()
    {
        /*if (!string.IsNullOrEmpty(UserRowid))
        {
            var User = SDKJWT.Validate<E00220_User>(UserRowid);

            if (User != null)
            {
                ValidUser = true;
                StateHasChanged();
            }

        }*/
        LogoUrl = AuthenticationService.GetConnectionLogo();  
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Init();
        RowidCulture = AuthenticationService.GetRoiwdCulture();
    }


    
    public class PasswordChangeModel
    {
        [SDKRequired]
        public string Password { get; set; }

        [SDKRequired]
        public string ConfirmPassword { get; set; }
    }

}