@page "/login/recoverypassword"

@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Shared.DataAnnotations
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Components.Visualization

@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorageService;
@layout EmptyLayout
@inject SDKNotificationService SDKNotificationService
@inject NavigationManager Navigation

<PageTitle>Recovery password</PageTitle>

<div class="back_login">

    <div class="col-12 offset-md-1 col-md-10 px-0 px-md-3">
        <div class="card_login col-12">
            <div class="row image_back image_back_empleo">
                <div class="info_area col-md-12 col-lg-7 p-3 p-lg-4">
                    <div class="col-12 p-0 pb-5 mb-5 mb-md-4 d-flex justify-content-between">
                        <div>
                            <img src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesaBlanco.svg" height="38px"
                                alt="logo_siesa_blanco">
                        </div>
                        <div class="d-sm-block d-md-none">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2" data-toggle="modal"
                                data-target="#infoModal"><i class="fa-solid fa-info"></i></button>
                        </div>
                    </div>
                    <div class="info_card d-none d-sm-none d-md-block col-12 p-3 p-md-3 p-lg-4 mt-4">
                        <h2 class="mb-md-2 mb-lg-3">Software para empresas</h2>
                        <p class="mb-md-2 mb-lg-3">El software ERP Siesa Enterprise le permite acceder a toda la
                            información de su compañía en tiempo real y desde cualquier dispositivo al contar con una
                            plataforma segura en la nube.</p>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4">+ Información</button>
                            <div>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                        class="fa-solid fa-chevron-left"></i></button>
                                <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                        class="fa-solid fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login_area col-12 col-lg-5 p-3 p-lg-4">
                    <div class="row align-items-center py-5">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12">
                            <div class="row">
                                <div class="col-12 p-0 d-flex justify-content-center pb-4">
                                    <img src="_content/Siesa.SDK.Frontend/assets/img/login_logo_empresa.png"
                                        height="48px" alt="logo_siesa_color">
                                </div>
                                <div class="col-12 p-0 pb-4 pb-md-0 pb-lg-4">
                                    <div class="col-12 text-center title_1">
                                        <ResourceViewer ResourceTag="BLPortalLogin.Title1" RowidCulture=@RowidCulture />
                                    </div>
                                    <div class="col-12 text-center title_2">
                                        <ResourceViewer ResourceTag="SDK.RecoveryPassword" RowidCulture=@RowidCulture />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border_left_md col-12 col-sm-12 col-md-6 col-lg-12">
                            <div
                                class="col-12 offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 px-md-3 px-lg-0">
                                <EditForm Model="@_Model" OnValidSubmit="ChangePasswordUser">
                                    <DataAnnotationsValidator />
                                    @if (true)
                                    {
                                        <div class="form-group">
                                            <label class="col_form_label col_form_label-sm font-weight-bold" for="Password">
                                                <ResourceViewer ResourceTag="BLPortalLogin.Password"
                                                RowidCulture=@RowidCulture />
                                            </label>
                                            <InputText @bind-Value="_Model.Password" type="password"
                                            class="form-control form-control-sm" autofocus />
                                            <ValidationMessage For="@(() => _Model.Password)" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col_form_label col_form_label-sm font-weight-bold" for="Password">
                                                <ResourceViewer ResourceTag="BLPortalLogin.ConfirmPassword"
                                                RowidCulture=@RowidCulture />
                                            </label>
                                            <InputText @bind-Value="_Model.ConfirmPassword" type="password"
                                            class="form-control form-control-sm" />
                                           <ValidationMessage For="@(() => _Model.ConfirmPassword)" />
                                        </div>
                                        <button class="btn btn-primary btn_primary_def_1 btn-sm w-100 mt-2">
                                            @if (loading)
                                            {
                                                <span class="spinner-border spinner-border-sm mr-1"></span>
                                            }
                                            <ResourceViewer ResourceTag="BLPortalLogin.ChangePassword"
                                            RowidCulture=@RowidCulture />
                                        </button>
                                        @if (!string.IsNullOrEmpty(error))
                                        {
                                            <div class="alert alert-danger mt-3 mb-0">@error</div>
                                        }
                                    }
                                    else
                                    {
                                        <p class="alert alert-danger mt-3 mb-0">
                                            <ResourceViewer ResourceTag="BLPortalLogin.TokenInvalid"
                                            RowidCulture=@RowidCulture />
                                        </p>

                                        <div class="col-12 p-0 text-center pt-4">
                                            <a class="link_login" href="">
                                            <ResourceViewer ResourceTag="Project.ForgotPassword" RowidCulture=@RowidCulture />
                                            </a>
                                        </div>
                                   }
                                </EditForm>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 p-0 text-center copy_right_text">
                        <ResourceViewer ResourceTag="Project.Version" RowidCulture=@RowidCulture /> -
                        <ResourceViewer ResourceTag="Project.Copy" RowidCulture=@RowidCulture />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content info_card_modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="mb-2 pr-3">Software para empresas</h2>
                    <p class="mb-2">El software ERP Siesa Enterprise le permite acceder a toda la información de su
                        compañía en tiempo real y desde cualquier dispositivo al contar con una plataforma segura en la
                        nube.</p>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary btn_ghost_def_1 btn-sm px-4">+ Información</button>
                        <div>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm"><i
                                    class="fa-solid fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn_ghost_def_1 btn-sm ml-2"><i
                                    class="fa-solid fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="LangModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="login_loading">
        <div>
            <div class="text-center fa-4x font_color_3 mb-4">
                <i class="fas fa-spinner fa-pulse"></i>
            </div>
            <div class="text-center">
                <img src="_content/Siesa.SDK.Frontend/assets/img/LogoSiesa.svg" height="82px" alt="logo_siesa">
            </div>
        </div>
    </div>
</div>

@code{

    private short RowidCulture { get; set; } = 1;
    private bool loading;
    private string error;
    private PasswordChangeModel _Model = new PasswordChangeModel();

    public class PasswordChangeModel
    {
        [SDKRequired]
        public string Password { get; set; }

        [SDKRequired]
        public string ConfirmPassword { get; set; }
    }

    
    private async void ChangePasswordUser()
    {
        //TODO: Validacion Cambio de Contrasenia
    }

    

}