@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject NavigationService NavigationService
@inject Radzen.DialogService dialogService
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.FormManager.Model
@using Newtonsoft.Json;
@inject UtilsManager UtilsManager
@implements IDisposable

<div @attributes="@FlexAttributes">
</div>

@if(!IsListView)
{    
<PageTitle>Flex</PageTitle>
<SetTopBar>
    <TopBarTitle>Flex</TopBarTitle>
    <TopBarButtons>
        @if(_isDetail)
        {
            <TopBarButton ResourceTag="Action.Flex.RefreshData" IconCssClass="fa-solid fa-refresh" Click="RefreshData" />
            <TopBarButton ResourceTag="Action.Flex.ExportToExcel" IconCssClass="fa-solid fa-file-excel" Click="ExportToExcel" />
            <TopBarButton ResourceTag="Action.Flex.Configure" IconCssClass="fa-solid fa-cog" Click="Configure" />
            <TopBarButton ResourceTag="Action.Create" IconCssClass="fa-solid fa-circle-plus" Click="GoToCreate"  />
            <TopBarButton ResourceTag="Action.Modify" IconCssClass="fa-solid fa-pen" Click="GoToEdit"  />
            <TopBarButton ResourceTag="Action.List"  IconCssClass="fa-solid fa-list" Click="GoToList" />
            <TopBarButton ResourceTag="Action.Delete" IconCssClass="fa-solid fa-trash-can" Click="OnClickDelete" />
        }else{
            <TopBarButton ResourceTag="Action.Flex.AddGraphic" IconCssClass="fa-solid fa-pie-chart" Click="AddGraphic" />
            <TopBarButton ResourceTag="Action.Flex.Configure" IconCssClass="fa-solid fa-cog" Click="Configure" />
            <TopBarButton ResourceTag="Action.Flex.SaveAndContinue" IconCssClass="fa-solid fa-bookmark" Click="SaveAndContinue" />
            <TopBarButton ResourceTag="Action.Flex.SaveAndClose" IconCssClass="fa-solid fa-floppy-disk" Click="SaveAndClose" />
        }
        
    </TopBarButtons>
</SetTopBar>
}
@code {
    [Parameter]
    public dynamic Business {get;set;}
    [Parameter]
    public bool IsListView {get;set;} = false;
    [Parameter]
    public string BlNameList {get;set;} = "";
    [Parameter]
    public string ViewdefName {get;set;} = "";
    [Parameter]
    public ListView ListView {get;set;}
    [Parameter]
    public string GuidListView {get;set;} = "";
    [Parameter]
    public bool CanEdit {get;set;}
    [Parameter]
    public bool CanDelete {get;set;}
    [Parameter]
    public bool EditingFlex {get;set;} = false;

    private bool _isDebug = false;

    private bool _isDetail = false;

    private int _flexRowId = 0;

    private string _blName = "BLFlex";

    private string _currentView = "create";
    private string flexElementId;

    private Dictionary<string, object> FlexAttributes { get; set; } = new Dictionary<string, object>();

    private IJSObjectReference _jsModule;

    private bool _isMounted = false;

    private void Init()
    {
        bool MountFlex = false;
        if(!IsListView){            
            Navigation.TryGetQueryString("sdk_debug",out string SDKDebugVar);
            if(!string.IsNullOrEmpty(SDKDebugVar))
            {
                if(!_isDebug)
                {
                    MountFlex = true;
                }
                _isDebug = true;
            }            

            Navigation.TryGetQueryString("currentView",out string SDKCurrentView);
            
            if(string.IsNullOrEmpty(SDKCurrentView))
            {
                SDKCurrentView = "create";
            }

            if(SDKCurrentView != _currentView)
            {
                MountFlex = true;
                _currentView = SDKCurrentView;
            }

            if(_currentView == "detail")
            {
                if(!_isDetail)
                {
                    MountFlex = true;
                }
                _isDetail = true;
            }

            Navigation.TryGetQueryString("flexRowid",out string SDKFlexRowIdVar);
            if(!string.IsNullOrEmpty(SDKFlexRowIdVar))
            {
                if(int.Parse(SDKFlexRowIdVar) != _flexRowId)
                {
                    MountFlex = true;
                }
                _flexRowId = int.Parse(SDKFlexRowIdVar);
            }  
        }else{
            _currentView = "detail";
        }
        //_isDebug = true;
        if(EditingFlex){
            _currentView = "edit";
        }
        
        FlexAttributes.Clear();
        flexElementId = "flexdebug";//$"flex_{Guid.NewGuid().ToString()}";
        FlexAttributes.Add("id", flexElementId);
        FlexAttributes.Add("class", "root_oreports");
        FlexAttributes.Add("current_view", _currentView);
        FlexAttributes.Add("is_list_view", IsListView.ToString());
        FlexAttributes.Add("bl_name_list", BlNameList);
        FlexAttributes.Add("viewdef_name", ViewdefName);
        FlexAttributes.Add("guid_list_view", GuidListView);
        FlexAttributes.Add("can_edit_list_view", CanEdit.ToString());
        FlexAttributes.Add("can_delete_list_view", CanDelete.ToString());
        FlexAttributes.Add("editing_flex", EditingFlex.ToString());
        if(_flexRowId != 0)
        {
            FlexAttributes.Add("base_obj_id", _flexRowId);
        }

        StateHasChanged();
        if(MountFlex || !_isMounted)
        {
            if(_jsModule == null){
                _ = InvokeAsync(async () => {
                    await Task.Delay(250);
                    JSRuntime.InvokeAsync<object>("window.MountFlex", flexElementId);
                    if(IsListView){
                        JSRuntime.InvokeVoidAsync("window.ListViewInstance", DotNetObjectReference.Create(ListView), GuidListView);
                    }
                });
            }else{
                
                JSRuntime.InvokeAsync<object>("window.MountFlex", flexElementId);
                if(IsListView){
                    JSRuntime.InvokeVoidAsync("window.ListViewInstance", DotNetObjectReference.Create(ListView), GuidListView);
                }
            }
            _isMounted = true;
        }


    }

    protected override async Task OnInitializedAsync()
    {
        //Init();
        UtilsManager.GetResourceByContainId();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender || _jsModule == null){
            if(_isDebug)
            {
                _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/flex/FlexComponent.debug.js");
            }else{
                _jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Siesa.SDK.Frontend/flex/FlexComponent.js");
            }
        }
    }

    protected override void OnParametersSet()
    {
        Init();
        base.OnParametersSet();
    }

    void AddGraphic()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug.props.toggleChartsModal");
    }

    void Configure()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug.props.toggleConfigModal");
    }

    void SaveAndContinue()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug.props.save");
    }

    void SaveAndClose()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug.props.save", true);
    }

    void RefreshData()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug.props.fetchPreviewData");
    }

    void ExportToExcel()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_table_flexdebug.dataGridRef.instance.exportToExcel", false);
    }

    void GoToCreate()
    {
        NavigationService.NavigateTo($"/{_blName}/create/");
    }

    void GoToEdit()
    {
        NavigationService.NavigateTo($"/{_blName}/edit/{_flexRowId}/");
    }

    void GoToList()
    {
        NavigationService.NavigateTo($"/{_blName}/");
    }

    async Task OnClickDelete()
    {
        var dialog = await dialogService.OpenAsync("",
            ds => @<ConfirmDelete DialogService=@ds />,
            new DialogOptions(){ShowTitle=false, Width="400"});
        if(dialog != null && dialog == true){
            Business.BaseObj.Rowid = _flexRowId;
            await Business.DeleteAsync();
            NavigationService.NavigateTo($"/{_blName}/");
        }
        //StateHasChanged();
    }
    public void Dispose(){
        JSRuntime.InvokeAsync<object>("window.unmountOReportsReact", flexElementId);
    }
}