@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject NavigationService NavigationService
@inject Radzen.DialogService dialogService
@inject IAuthenticationService AuthenticationService
@using Siesa.SDK.Frontend.Components.Layout
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.FormManager.Views
@using Siesa.SDK.Frontend.Components.FormManager.Model
@using Newtonsoft.Json
@using Siesa.Global.Enums
@using Siesa.SDK.Shared.Services

@inject UtilsManager UtilsManager
@implements IDisposable

<div @attributes="@FlexAttributes">
</div>

@if(!IsListView && FlexRowId == 0)
{    
<PageTitle><ResourceViewer ResourceTag="Custom.BLFlex.Title" /></PageTitle>
<SetTopBar>
    <TopBarTitle><ResourceViewer ResourceTag="Custom.BLFlex.Title" /></TopBarTitle>
    <TopBarButtons>
        @if(_isDetail)
        {
            <TopBarButton ResourceTag="Action.Flex.RefreshData" IconCssClass="fa-solid fa-refresh" Click="RefreshData" />
            <TopBarButton ResourceTag="Action.Flex.ExportToExcel" IconCssClass="fa-solid fa-file-excel" Click="ExportToExcel" />
            <TopBarButton ResourceTag="Action.Flex.Configure" IconCssClass="fa-solid fa-cog" Click="Configure" />
            <TopBarButton ResourceTag="Action.Create" IconCssClass="fa-solid fa-circle-plus" Click="GoToCreate"  />
            <TopBarButton ResourceTag="Action.Edit" IconCssClass="fa-solid fa-pen" Click="GoToEdit"  />
            <TopBarButton ResourceTag="Action.List"  IconCssClass="fa-solid fa-list" Click="GoToList" />
            <TopBarButton ResourceTag="Action.Delete" IconCssClass="fa-solid fa-trash-can" Click="OnClickDelete" />
        }else{
            <TopBarButton ResourceTag="Action.Flex.AddGraphic" IconCssClass="fa-solid fa-pie-chart" Click="AddGraphic" />
            <TopBarButton ResourceTag="Action.Flex.Configure" IconCssClass="fa-solid fa-cog" Click="Configure" />
            <TopBarButton ResourceTag="Action.Flex.SaveAndContinue" IconCssClass="fa-solid fa-bookmark" Click="SaveAndContinue" />
            <TopBarButton ResourceTag="Action.Flex.SaveAndClose" IconCssClass="fa-solid fa-floppy-disk" Click="SaveAndClose" />
        }
        
    </TopBarButtons>
</SetTopBar>
}
@code {
    [Parameter]
    public dynamic Business {get;set;}
    [Parameter]
    public bool IsListView {get;set;} = false;
    [Parameter]
    public string BlNameList {get;set;} = "";
    [Parameter]
    public string ViewdefName {get;set;} = "";
    [Parameter]
    public ListView ListView {get;set;}
    [Parameter]
    public string GuidListView {get;set;} = "";
    [Parameter]
    public bool CanEdit {get;set;}
    [Parameter]
    public bool CanDelete {get;set;}
    [Parameter]
    public bool CanDetail {get;set;}
    [Parameter]
    public bool EditingFlex {get;set;} = false;
    [Parameter]
    public int Take {get;set;} = 100;
    [Parameter]  
    public bool ServerPagination {get;set;} = false;
    [Parameter]
    public string FilterSearch {get;set;} = "";

    [Parameter]
    public string FlexFilters {get;set;} = "";

    [Parameter]
    public string GuidFlex {get;set;} = "";
    [Parameter]
    public List<dynamic> ActionIcons {get;set;} = new List<dynamic>();

    [Parameter]
    public bool HasSearch {get;set;} = false;
    [Parameter]
    public bool IsMultiple {get;set;} = false;

    [Parameter]
    public int FlexRowId {get;set;} = 0;
    private enumThemeIconStyle IconsStyles {get;set;} = enumThemeIconStyle.Solid;

    private string _guid ="";
    private bool _isDebug = false;

    private bool _isDetail = false;

    private int _flexRowId = 0;

    private string _blName = "BLFlex";

    private string _currentView = "create";
    private string flexElementId;

    private Dictionary<string, object> FlexAttributes { get; set; } = new Dictionary<string, object>();

    private bool _isMounted = false;

    private void Init()
    {
        bool MountFlex = false;
        if(!IsListView){            
            Navigation.TryGetQueryString("sdk_debug",out string SDKDebugVar);
            if(!string.IsNullOrEmpty(SDKDebugVar))
            {
                if(!_isDebug)
                {
                    MountFlex = true;
                }
                _isDebug = true;
            }            

            Navigation.TryGetQueryString("currentView",out string SDKCurrentView);
            
            if(string.IsNullOrEmpty(SDKCurrentView))
            {
                SDKCurrentView = "create";
            }

            if(SDKCurrentView != _currentView)
            {
                MountFlex = true;
                _currentView = SDKCurrentView;
            }

            if(_currentView == "detail")
            {
                if(!_isDetail)
                {
                    MountFlex = true;
                }
                _isDetail = true;
            }

            Navigation.TryGetQueryString("flexRowid",out string SDKFlexRowIdVar);
            if(!string.IsNullOrEmpty(SDKFlexRowIdVar))
            {
                if(int.Parse(SDKFlexRowIdVar) != _flexRowId)
                {
                    MountFlex = true;
                }
                _flexRowId = int.Parse(SDKFlexRowIdVar);
            }  
        }else{
            Navigation.TryGetQueryString("sdk_debug",out string SDKDebugVar);
            if(!string.IsNullOrEmpty(SDKDebugVar))
            {
                if(!_isDebug)
                {
                    MountFlex = true;
                }
                _isDebug = true;
            }
            _currentView = "detail";
        }

        //_isDebug = true;

        if(EditingFlex){
            _currentView = "edit";
        }
        var actionIconsString = JsonConvert.SerializeObject(ActionIcons);
        if(FlexRowId != 0){
            _flexRowId = FlexRowId;
            _currentView = "detail";
        }
        
        string style = GetStyle();

        FlexAttributes.Clear();
        flexElementId = $"flexdebug_{_guid}";
        FlexAttributes.Add("id", flexElementId);
        FlexAttributes.Add("class", "root_oreports");
        FlexAttributes.Add("current_view", _currentView);
        FlexAttributes.Add("is_list_view", IsListView.ToString());
        FlexAttributes.Add("bl_name_list", BlNameList);
        FlexAttributes.Add("has_search", HasSearch.ToString());
        FlexAttributes.Add("viewdef_name", ViewdefName);
        //FlexAttributes.Add("guid_list_view", _guid);
        FlexAttributes.Add("can_edit_list_view", CanEdit.ToString());
        FlexAttributes.Add("can_delete_list_view", CanDelete.ToString());
        FlexAttributes.Add("can_detail_list_view", CanDetail.ToString());
        FlexAttributes.Add("editing_flex", EditingFlex.ToString());
        FlexAttributes.Add("take", Take.ToString());
        FlexAttributes.Add("server_pagination", ServerPagination.ToString());
        FlexAttributes.Add("filter_search", FilterSearch);
        FlexAttributes.Add("guid", _guid);
        FlexAttributes.Add("action_icons", actionIconsString);
        FlexAttributes.Add("is_multiple", IsMultiple.ToString());
        FlexAttributes.Add("flex_filters", FlexFilters);
        FlexAttributes.Add("preference_style", style);
        if(_flexRowId != 0)
        {
            FlexAttributes.Add("base_obj_id", _flexRowId);
        }

        StateHasChanged();
        
        
        if(MountFlex || !_isMounted)
        {
            _= MountFlexComponent();
            _isMounted = true;
        }


    }

    private string GetStyle(){
        string style = "";
        switch(IconsStyles){
            case enumThemeIconStyle.Solid:
                style = "fa-solid";
                break;
            case enumThemeIconStyle.Regular:
                style = "fa-regular";
                break;
            case enumThemeIconStyle.Light:
                style = "fa-light";
                break;
            case enumThemeIconStyle.Duotone:
                style = "fa-duotone";
                break;
            case enumThemeIconStyle.Thin:
                style = "fa-thin";
                    break;

        }

        return style;
    }

    private async Task MountFlexComponent()
    {
        try
        {
            var existMountFlex = await JSRuntime.InvokeAsync<bool>("existMountFlex");
            if(!existMountFlex)
            {
                //wait for mount flex and retry
                await Task.Delay(250);
                _ = MountFlexComponent();
                return;
            }
        }catch(Exception ex)
        {
            //wait for mount flex and retry
            await Task.Delay(250);
            _ = MountFlexComponent();
            return;
        }
        await JSRuntime.InvokeAsync<object>("window.MountFlex", flexElementId);
        if(IsListView){
            await JSRuntime.InvokeVoidAsync("window.ListViewInstance", DotNetObjectReference.Create(ListView), GuidListView);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //Init();
        if(String.IsNullOrEmpty(GuidListView))
        {
            _guid = Guid.NewGuid().ToString();
        }else{
            _guid = GuidListView;
        }

        await base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        Init();
        base.OnParametersSet();
    }

    void AddGraphic()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug_"+_guid+".props.toggleChartsModal");
    }

    void Configure()
    {
        Guid guid = Guid.NewGuid();
        JSRuntime.InvokeVoidAsync("oreports_app_flexdebug_"+_guid+".props.toggleConfigModal", guid.ToString());
    }

    void SaveAndContinue()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug_"+_guid+".props.save");
    }

    void SaveAndClose()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug_"+_guid+".props.save", true);
    }

    void RefreshData()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_flexdebug_"+_guid+".props.fetchPreviewData");
    }

    void ExportToExcel()
    {
        JSRuntime.InvokeAsync<object>("oreports_app_table_flexdebug_"+_guid+".dataGridRef.instance.exportToExcel", false);
    }

    void GoToCreate()
    {
        NavigationService.NavigateTo($"/{_blName}/create/");
    }

    void GoToEdit()
    {
        NavigationService.NavigateTo($"/{_blName}/edit/{_flexRowId}/");
    }

    void GoToList()
    {
        NavigationService.NavigateTo($"/{_blName}/");
    }

    async Task OnClickDelete()
    {
        var dialog = await dialogService.OpenAsync("",
            ds => @<ConfirmDelete DialogService=@ds />,
            new DialogOptions(){ShowTitle=false, Width="400"});
        if(dialog != null && dialog == true){
            Business.BaseObj.Rowid = _flexRowId;
            await Business.DeleteAsync();
            NavigationService.NavigateTo($"/{_blName}/");
        }
        //StateHasChanged();
    }
    public void Dispose(){
        JSRuntime.InvokeAsync<object>("window.unmountOReportsReact", flexElementId);
    }
}