@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Services

@inject SDKNotificationService Notification

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKBooleanField</h2> 
            <p>Demonstration and configuration of the SDKBooleanField component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard >
                <h3>bind-Value</h3>
                <SDKBooleanField @bind-Value="@SelectPrueba" Enabled="true">
                    @SelectPrueba
                </SDKBooleanField>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
            <h3>Disabled</h3>
            <SDKBooleanField @bind-Value="@SelectPrueba3" Enabled="false">
                @SelectPrueba3
            </SDKBooleanField>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Value Changed</h3>
            <SDKBooleanField Value="@valueChange" Enabled="true"
                ValueChanged="((value) => Onchange(value))">
                @valueChange
            </SDKBooleanField>
            </SDKCard>
        </div>
    </div>
</div>

@code{

public bool SelectPrueba;
public bool SelectPrueba2;
public bool SelectPrueba3;

bool valueChange;

public bool Onchange(bool value){

        valueChange = value;
        Notification.ShowWarning("This value changed "+$"{valueChange}");

        return valueChange;  
    }

}