@page "/Badge"
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKBadge</h2> 
            <p>Demonstration and configuration of the SDKBadge component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            <SDKCard >
                <h3>Badges</h3>
                <SDKBadge Style="SDKBadgeStyle.Primary" Value="Demo Badge" ></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Secondary" Value="Secondary"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Info" Value="Info"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Success" Value="Success"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Warning" Value="Warning"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Danger" Value="Danger"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Light" Value="Light"></SDKBadge>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Badges in Tabs</h3>
                <SDKTabs>
                    <SDKTab TitleResourceTag="Notificaciones" ShowBadge="true" BadgeValue="+15" BadgeAsPill="true" BadgeStyle="SDKBadgeStyle.Danger"/>
                    <SDKTab TitleResourceTag="Mensajes" ShowBadge="true" BadgeValue="+15"  BadgeStyle="SDKBadgeStyle.Info"/>
                    <SDKTab TitleResourceTag="Eventos" ShowBadge="true" BadgeValue="+15" BadgeAsPill="true"  BadgeStyle="SDKBadgeStyle.Light"/>
                </SDKTabs>
            </SDKCard>
        </div>
        <div class="col-md-6 p-3">
            <SDKCard>
                <h3>Badge As Pill</h3>
                <SDKBadge Style="SDKBadgeStyle.Primary" Value="Demo Badge" IsPill="true" ></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Secondary" Value="Secondary" IsPill="true"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Info" Value="Info" IsPill="true"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Success" Value="Success" IsPill="true"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Warning" Value="Warning" IsPill="true"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Danger" Value="Danger" IsPill="true"></SDKBadge>
                <SDKBadge Style="SDKBadgeStyle.Light" Value="Light" IsPill="true"></SDKBadge>
            </SDKCard>
        </div>
    </div>
</div>


