@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization

@inject SDKNotificationService Notification


@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKSelectBar</h2> 
            <p>Demonstration and configuration of the SDKSelectBar component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
            @*<SDKSelectBar></SDKSelectBar>*@
        </div>
    </div>
</div>

@code
{
    int myValue;

    List<SelectBarItemWrap<int>> ListaPrueba = new List<SelectBarItemWrap<int>>()
    {
        new SelectBarItemWrap<int>() {Key=1, Name="Item 1"},
        new SelectBarItemWrap<int>() {Key=1, Name="Item 2"},
        new SelectBarItemWrap<int>() {Key=1, Name="Item 3"}
    }

}