
.suite_option{
    position: relative;
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
    max-width: 3rem;
    margin: 0.5rem 0.8rem 0 0.8rem;
    line-height: 1;
    border: none;
    border-radius: var(--border_radius_standar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color_light);
    transform: translateY(0);
    transition: all 0.2s ease;
    outline: none;
}
.suite_option:hover, .suite_option:focus {
    transform: translateY(-.25rem);
    transition: all 0.2s ease;
}
.suite_option:hover > .suite_option_base, .suite_option:focus > .suite_option_base{
    bottom: -0.5rem;
    transition: all 0.2s ease;
}
.suite_option_base{
    width: 2rem;
    height: 0.25rem;
    position: absolute;
    bottom: 0.25rem;
    border-radius: var(--border_radius_standar);
    transition: all 0.2s ease;
    outline: none;
}