@using Radzen
@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Visualization
@inherits Siesa.SDK.Frontend.Components.FormManager.ViewModels.DynamicBaseViewModel
@inject UtilsManager UtilManager

<div class="modal-dialog-container p-0">
    
    <div class="modal-body px-0 pt-0">
        @ChildContent
    </div>
    <div class="modal-footer justify-content-center px-0 pb-0">
        <SDKButton RenderStyle="SDKButtonRenderStyle.Cancel" CssClass="px-3" ResourceTag="@CancelationButtonTag" Click="@ClickCancel" />
        <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" CssClass="px-3"  ResourceTag="@ConfirmationButtonTag" Click="@ClickConfirm" />
    </div>

</div>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public DialogService DialogService { get; set; }
    [Parameter] public string ConfirmationButtonTag {get; set;}
    [Parameter] public string CancelationButtonTag {get; set;}

    private void ClickConfirm()
    {
        DialogService.Close(true);
    }

    private void ClickCancel()
    {
        DialogService.Close(false);
    } 

}
