@using Siesa.SDK.Frontend.Components.FormManager.Model
@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization

<div class="row">
    @if(ConstantFilters?.Count > 0)
    {
        <div class="col-12">
            <ListView
                IsMultiple="true"
                ViewdefName="remain_users_list"
                BusinessObj=@Business
                BusinessName="BLUser"
                SetTopBar="false"
                AllowCreate="false"
                AllowEdit="false"
                AllowDelete="false"
                AllowDetail="false"
                ShowSearchForm="false"
                ConstantFilters="@ConstantFilters"
                OnSelectedRow="@OnSelectItems"
            />
        </div>
        <div class="col-12 d-flex justify-content-end">
            <SDKButton
                RenderStyle="SDKButtonRenderStyle.Primary"
                ResourceTag="Custom.BLUser.AssignUsersMessage"
                Click="@AddUsers"
            />
        </div>
    }else
    {
        <div class="col-12 text-center font_color_primary_dark pt-3 pb-0">
            <i class="fa-solid fa-circle-info fa-3x"></i>
            <p class="mt-3 mb-0 font_size_087">
                <ResourceViewer
                    ResourceTag="Custom.BLUser.UsersNotFound"
                />
            </p>
        </div>
    }
</div>