@typeparam TValue
@inherits MessageValidatorBase<TValue>
@using Siesa.SDK.Frontend.Components.Layout

@foreach (var message in ValidationMessages)
{
    var messageSplit = message.Split("//");
        if (messageSplit.Count() > 1)
        {
            var ResourceTag = messageSplit[0];
            var FieldEntity = messageSplit[1];
            var FormatString = new object[]  { FieldEntity };
            <div class="@Class">
                <ResourceViewer ResourceTag="@ResourceTag" DefaultRowidCulture=1 FormatString="@FormatString" />
            </div>
        }
}