@using Siesa.SDK.Frontend.Components.Visualization
@using Siesa.SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Fields
@using Siesa.SDK.Frontend.Application
@using Siesa.SDK.Shared.Services
@using Siesa.SDK.Frontend.Services

@inject SDKNotificationService NotificationService

@layout EmptyLayout

<div class="container-fluid">
    <div class="container-fluid">
            <h2>SDKFormLayout</h2> 
            <p>Demonstration and configuration of the SDKFormLayout component</p> 
    </div>
    <div class="row px-3"> 
        <div class="col-md-6 p-3">
                <SDKFormLayoutTabPage ResourceTag="Nombre">
                        <SDKCharField @bind-Value="@Name"/>
                </SDKFormLayoutTabPage>
                <SDKFormLayoutTabPage ResourceTag="Email">
                        <SDKCharField @bind-Value="@Email"/>
                </SDKFormLayoutTabPage>
                <SDKFormLayoutTabPage ResourceTag="Date">
                        <SDKDateField @bind-Value="@DateTimeValue"/>
                </SDKFormLayoutTabPage>
                <SDKFormLayoutTabPage ResourceTag="Seletc">
                        <SDKBooleanField @bind-Value="@Selectd"/>
                </SDKFormLayoutTabPage>
        </div>
    </div>
</div>

@code
{

    public string Name {get; set;} = "Name";

    public string Email {get; set;} = "HolaMundo@gamil.com";

    public int Age {get; set;} = 26;

    public bool Selectd {get; set;} = true;


    public DateTime DateTimeValue { get; set; } = DateTime.Now;

    public string NumericMaskValue { get; set; } = NumericMask.RealNumber;

}