
<select class="select_connect" id="SelectConnect" @onchange="OnChangeSelectItem">

    <option ><ResourceViewer ResourceTag="Custom.SDK.Import.FieldNotAsociate"/></option>

        @foreach (var field in FieldsEntity)
        { 
            <option value="@field.Value" selected="@(FieldFile.Key == field.Key)" >
                @field.Key
            </option>
        }

</select>

@code
{
    [CascadingParameter] public ImportComponent ImportComponent { get; set; } 

    [Parameter] public dynamic FieldFile { get; set; }

    [Parameter] public Dictionary<string, string> FieldsEntity { get; set; } = new Dictionary<string, string>();
    

    public void OnChangeSelectItem(ChangeEventArgs e)
    {
        if(!ImportComponent._newKeys.ContainsKey(e.Value.ToString()))
        {
            ImportComponent._newKeys.Add(e.Value.ToString(), FieldFile.Key.ToString());
        }
    }
    protected override void OnInitialized()
    {
        if(FieldsEntity.Any(x=>x.Key == FieldFile.Key))
        {
            string newKey = FieldsEntity.Where(x=>x.Key == FieldFile.Key).Select(x=>x.Value).FirstOrDefault();

            if(!ImportComponent._newKeys.ContainsKey(newKey))
            {
                ImportComponent._newKeys.Add(newKey, FieldFile.Key);
            }

        }
        base.OnInitialized();
    }
}