@inherits FieldClass<DateOnly>
@using System.Linq.Expressions

<p style="word-wrap: break-word">@_value</p>
@code {
    DateTime? _value {get{
        if(BindValue != null && BindValue.ToDateTime(TimeOnly.MinValue) != DateTime.MinValue){
            return BindValue.ToDateTime(TimeOnly.MinValue);
        }
        return null;
    }}
}

