.dropdown-toggle {
    margin-left: auto;
    padding-left: 0.6rem;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: var(--color_text);
}
.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-toggle.right:after {
    transform: rotate(-90deg);
    position: relative;
    left: -0.5rem;
}

.nav_btn_external {
    margin-left: auto;
    text-overflow: unset;
}

.sdk_separator {
   border-top: 2px solid #ccc;
}	

::deep .nav_suite_box_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_light);
    border-radius: var(--border_radius_standar);
    min-width: 28px;
    min-height: 28px;
    max-width: 28px;
    max-height: 28px;
    margin-left: 0.75rem;
}