.sdk_menu {
    min-width: 300px;
    float: left;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--shadow_standar);
    margin-top: 50px;
    height: 100vh;
}

.sdk_nav_head {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    min-height: 48px;
    width: 48px;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    background: var(--color_light);
    /* padding: 0.375rem; */
    cursor: pointer;
}

.sdk_nav {
    overflow-x: hidden;
}


.menu_content {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    min-height: 0vh;
    max-height: 0vh;
    width: 48px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: transparent;
    transition-duration: .25s;
}

.nav_section_1 {
    padding: 9px 0.375rem 0.5rem 0.375rem;
    max-height: calc(100vh - 136px);
    overflow: hidden;
}

.nav_section_2 {
    padding: .5rem 0.375rem 0.5rem 0.375rem;
    max-height: 240px;
    overflow: hidden;
}

.nav_section_2>hr {
    border-top: 1px solid var(--color_primary);
    margin: 0;
    padding-bottom: 44px;
}

input#menu,
input#collapse_open {
    display: none;
}

input#menu:checked~.collapse_open_btn {
    display: flex;
    /* min-height: 36px; */
}

input#menu:checked~.menu_content {
    min-height: 100vh;
    max-height: 100vh;
    background: var(--color_light_nav);
    box-shadow: var(--shadow_standar);
    /* border-bottom-right-radius: 1.5rem; */
    transition-duration: .25s;
}

input#menu:checked~ ::deep .nav_dx_menu {
    min-height: 100vh;
    max-height: 100vh;
    /* background: var(--color_light); */
    /* box-shadow: var(--shadow_standar); */
    /* border-bottom-right-radius: 1.5rem; */
    transition-duration: .25s;
    width: 100%;
    /* max-width: 243px; */
    z-index: 3;
    display: block;

}

.collapse_open_btn {
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 55%);
    color: var(--color_light);
    font-size: 11px;
    line-height: 1;
    min-width: 18px !important;
    width: 18px !important;
    min-height: 18px !important;
    height: 18px !important;
    position: fixed;
    left: 40px;
    top: 15px;
    z-index: 11;
    min-height: 0px;
    width: 16px;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition-duration: .25s;
}

.nav_profile_btn{
    width: 100%;
    height: 36px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none !important;
    background: transparent;
    height: 36px;
    border-bottom-right-radius: 24px !important;
    margin-top: 2px;
}

.nav_profile_btn::before {
    content: "";
    border-radius: var(--border_radius_standar);
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s;
}

.nav_profile_photo {
    height: 36px;
    box-shadow: var(--shadow_standar);
    border-radius: var(--border_radius_standar);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_profile_photo > img {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.nav_profile_photo::before {
    content: "";
    border-radius: var(--border_radius_standar);
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border: 3px solid var(--color_light);
}

.nav_profile_btn::before {
    content: "";
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s;
}

.nav_profile_btn:hover::before {
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}

input#collapse_open:checked~.menu_content {
    width: 240px;
    transition-duration: .25s;
}

input#collapse_open:checked~ ::deep .nav_dx_menu {
    left: calc(243px - 48px);
    transition-duration: .25s;
}


input#collapse_open:checked~.collapse_open_btn {
    /* width: calc(240px - 0.75rem); */
    transition-duration: .25s;
    left: 230px;
}

.nav_logo {
    padding-left: 65px;
    margin-bottom: 13px;
    max-width: 0;
    display: block;
}

.nav_logo > img{
    max-height: 32px;
    object-fit: contain;
}

::deep .sdk_search{
    width: 100%;
}

::deep .sdk_search > input{
    border: transparent !important;
    background: #ffffff4d !important;
    color: white !important;
}

::deep .sdk_search input::placeholder{
    color: #ffffff80 !important;
}

::deep .sdk_search i{
    color: #ffffff80 !important;
    opacity: 1 !important;
    font-size: .875rem !important;
}

::deep .search_tooltip{
    position: relative !important;
    max-width: 100% !important;
    top: 10px !important;
    left: 0px !important;
    width: 100% !important;
}

::deep .search_tooltip::before {
    left: 50% !important;
}
.nav_btn_standar_suite_active{
    width: 48px;
    min-height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none !important;
    text-decoration: none !important;
    transition-duration: .2s;
}
.nav_btn_standar_suite{
    width: 100%;
    min-height: 36px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none !important;
    background: transparent; 
    text-decoration: none !important;
    transition-duration: .2s;
}
.back_suite_active{
    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
    max-width: 48px;
    position: absolute;
    opacity: 1;
    z-index: -1;
    border-radius: 0;
    box-shadow: var(--shadow_standar);
    color: var(--color_light);
    transition: all .2s ease;
}
.back_suite{
    min-height: 36px;
    min-width: 0px;
    max-height: 36px;
    max-width: 0px;
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: var(--border_radius_standar);
    box-shadow: var(--shadow_standar);
    color: var(--color_light);
    transition: all .2s ease;
}
.back_suite_general{
    background: conic-gradient(#5EB9AF 45deg, #71C771 100deg, #979A67 140deg, #CE5858 170deg, #CE5858 200deg, #BB7AB9 230deg, #8968BE 260deg, #6375C3 290deg, #6099B9 320deg, #5FABB3 350deg);
}

.nav_btn_standar_suite:hover > .back_suite{
    min-width: 100%;
    max-width: 100%;
    opacity: 1;
    transition: all .2s ease;
}
.nav_btn_standar_suite:hover .nav_btn_standar_icon_suite > i{
    color: var(--color_light) !important;
}
.nav_btn_standar_suite:hover > .nav_btn_standar_text{
    color: var(--color_light) !important;
}
.font_size_125{
    font-size: 1.25rem !important;
}
.nav_btn_standar_icon_suite_active{
    min-width: 48px;
    max-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s; 
    color: var(--color_light);
    font-size: 1.75rem;
}
.nav_btn_standar_icon_suite{
    min-width: 36px;
    max-width: 36px;
    display: flex;
    justify-content: center;
    transition-duration: .2s; 
}
.nav_section_2>hr{
    border-top: 1px solid var(--color_primary);
    margin: 0;
    padding-bottom: 4px;
}
input#collapse_open:checked ~ .menu_content > .nav_section_2 > .nav_btn_standar > .nav_btn_standar_text{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    white-space: normal;
    text-overflow: unset;
    opacity: 1;
    transition: .2s;
}
input#collapse_open:not(:checked) ~ .menu_content > .nav_section_2 > .nav_btn_standar > .nav_btn_standar_text {
    width: 0%;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    transition: .2s;
}
.nav_section_1 {
    padding: 9px 0.375rem 0.5rem 0.375rem;
    max-height: calc(100vh - 192px);
    overflow: hidden;
}


@media(max-width: 575.98px){
    .nav_profile_btn{
        margin-top: 0;
    }
    .nav_section_1 {
        padding: 9px 0.375rem 0.5rem 0.375rem;
        max-height: calc(100vh - 137px);
        overflow: hidden;
    }
}

@media (max-width: 767.98px) {
    input#menu:checked~.menu_content {
        min-height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);
    }

    .collapse_open_btn {
        bottom: 84px;
    }
}

@media (max-width: 575.98px) {
    input#menu:checked~.whcm_home_content {
        padding-left: 15px;
        transition: .25s;
    }

    input#menu:checked~.menu_content {
        min-height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);
        width: 100vw;
        border-bottom-right-radius: 0;
    }

    input#menu:checked~.collapse_open_btn {
        display: none;
    }

    .collapse_open_btn {
        display: none;
    }

    .nav_logo {
        text-align: center;
        min-width: calc(100vw - 51px);
    }

    .nav_section_2>hr {
        padding-bottom: 0;
    }

}