.sdk_menu {
    min-width: 300px;
    float: left;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--shadow_standar);
    margin-top: 50px;
    height: 100vh;
}
.sdk_nav_head{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    min-height: 48px;
    width: 48px;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    background: var(--color_light);
    padding: 0.375rem;  
    cursor: pointer;
}

.sdk_nav{
    overflow-x: hidden;
}


.menu_content{
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    min-height: 0vh;
    max-height: 0vh;
    width: 48px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: transparent;
    transition-duration: .25s;
}

.nav_section_1{
    padding: 9px 0.375rem 0.5rem 0.375rem;
    max-height: calc(100vh - 136px);
    overflow: hidden;
}
.nav_section_2{
    padding: .5rem 0.375rem 0.5rem 0.375rem;
    max-height: 240px;
    overflow: hidden;
}
.nav_section_2>hr{
    border-top: 1px solid var(--color_primary);
    margin: 0;
    padding-bottom: 44px;
}

input#menu, input#collapse_open{
    display: none;
}

input#menu:checked ~ .collapse_open_btn{
    display: flex;
    min-height: 36px;
}
input#menu:checked ~ .menu_content{
    min-height: 100vh;
    max-height: 100vh;
    background: var(--color_light);
    box-shadow: var(--shadow_standar);
    border-bottom-right-radius: 1.5rem;
    transition-duration: .25s;
}
input#menu:checked ~ ::deep .nav_dx_menu{
    min-height: 100vh;
    max-height: 100vh;
    /* background: var(--color_light); */
    box-shadow: var(--shadow_standar);
    border-bottom-right-radius: 1.5rem;
    transition-duration: .25s;
    width: 100%;
    /* max-width: 243px; */
    z-index: 3;
    display: block;
}
.collapse_open_btn{
    border-radius: 4px;
    position: fixed;
    left: 0;
    bottom: 52px;
    z-index: 11;
    min-height: 0px;
    width: 36px;
    overflow: hidden;
    display: none;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 0 6px;
    transition-duration: .25s;
}
.collapse_open_btn::before{
    content: "";
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s; 
}
.collapse_open_btn:hover::before{
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}
.nav_profile_btn{
    width: 100%;
    height: 36px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none !important;
    background: transparent;
    height: 36px;
    border-bottom-right-radius: 24px !important;
}
.nav_profile_btn::before{
    content: "";
    border-radius: 4px 4px 24px 4px;
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s; 
}
.nav_profile_photo{
    height: 36px;
    box-shadow: var(--shadow_standar);
    border-radius: 4px 4px 24px 4px;
    overflow: hidden;
    position: relative;
}
.nav_profile_photo::before{
    content: "";
    border-radius: 4px 4px 24px 4px;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border: 3px solid var(--color_light);
}
.nav_profile_btn::before{
    content: "";
    width: 10%;
    height: 36px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: var(--shadow_standar);
    background: var(--color_button_back);
    transition-duration: .2s; 
}
.nav_profile_btn:hover::before{
    width: 100%;
    opacity: 1;
    transition-duration: .2s;
}
input#collapse_open:checked ~ .menu_content{
    width: 240px;
    transition-duration: .25s;
}

input#collapse_open:checked ~ ::deep .nav_dx_menu{
    left:243px;
    transition-duration: .25s;
}


input#collapse_open:checked ~ .collapse_open_btn{
    width: calc(240px - 0.75rem);
    transition-duration: .25s;
}

.nav_logo{
    padding-left: 57px;
    margin-bottom: 13px;
    max-width: 0;
    display: block;
}

@media (max-width: 767.98px) { 
    input#menu:checked ~ .menu_content{
        min-height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);
    }
    .collapse_open_btn{
        bottom: 84px;
    }
}

@media (max-width: 575.98px) {
    input#menu:checked ~ .whcm_home_content{
        padding-left: 15px;
        transition: .25s;
    }
    input#menu:checked ~ .menu_content {
        min-height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);
        width: 100vw;
        border-bottom-right-radius: 0;
    }
    input#menu:checked ~ .collapse_open_btn{
        display: none;
    }
    .collapse_open_btn{
        display: none;
    }
    .nav_logo{
        text-align: center;
        min-width: calc(100vw - 51px);
    }
    .nav_section_2>hr{
        padding-bottom: 0;
    }

 }