@using Entities
<div>
     <a href="#" @onclick="()=> OnClickTitle()" @onclick:stopPropagation="true"  @onclick:preventDefault class="nav_btn_standar my-1">
        <div class="nav_btn_standar_text submenu-title">
            <i class="fa-solid fa-chevron-left"></i> @MainItem.CurrentText
        </div>
    </a>
    <div class="nav_section_1 w-100">
        @if(MainItem.SubMenus != null)
        {
            @foreach (var item in MainItem.SubMenus)
            {
                <NavMenuItem MenuItem="item" OnClick="@OnClickSubMenu" />
            }
        }
    </div>
</div>
@code {
    [Parameter] public Action<E00061_Menu> OnClick { get; set; }

    [Parameter] public E00061_Menu MainItem { get; set; }

    [Parameter] public List<E00061_Menu> PreviousItems { get; set; } = new List<E00061_Menu>();

    public void OnClickSubMenu(E00061_Menu MenuItem)
    {
        PreviousItems.Add(MainItem);
        OnClick(MenuItem);
        StateHasChanged();
    }

    private void OnClickTitle()
    {
        if (PreviousItems.Count > 0)
        {
            OnClick(PreviousItems[PreviousItems.Count - 1]);
            PreviousItems.RemoveAt(PreviousItems.Count - 1);
        }
        else
        {
            OnClick(null);
        }
        StateHasChanged();
    }


}