.sdk-submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.submenu-title {
    font-size: 1.0rem;
    font-weight: bold;
}


.nav_dx_menu{
    position: fixed;
    /* cambio */
    left: 0px;
    top: 0;
    height: 100%;
    transition-duration: .25s;
    min-height: 0vh;
    max-height: 0vh;
    width: 0px;
    display: none;
    /* cambio */
    overflow: hidden !important;
}


.submenu-content {
    /* cambio */
    width: calc(243px + 48px);
    /* cambio */
    max-width: calc(243px + 48px);
    background: var(--color_light);
     /* cambio */
    border-radius: 0 0 1.5rem 0;
    height: 100vh;
    overflow-y: scroll;

    box-shadow: var(--shadow_standar);
    padding: 0 0.375rem 0 calc(48px + 0.375rem);

}

.submenu-content::-webkit-scrollbar {
    width: 0px;
}

/* ::deep .nav_btn_standar:hover{
    background: var(--color_button_back);
    transition-duration: .2s; 
} */

@media (max-width: 575.98px) {
    .submenu-content {
        width: 100% !important;
        max-width: 100% !important;
    }

    .nav_dx_menu{
        left: 5px !important;
        transition-duration: .25s;
        z-index: 10 !important;
        top: 91px !important;
        box-shadow: none !important;
    }

}