@using Entities
@inherits SDKComponent

<div class="nav_dx_menu" @onclick="()=> HideSubmenu()" @onclick:stopPropagation="true"  @onclick:preventDefault>
    <div class="submenu-content">
        <a href="#" @onclick="()=> OnClickTitle()" @onclick:stopPropagation="true"  @onclick:preventDefault class="nav_btn_standar my-1">
            <div class="nav_btn_standar_text submenu-title">
                <i class="fa-solid fa-chevron-left"></i> @MainItem.CurrentText
            </div>
        </a>
        <div class="nav_section_1 w-100">
            @if(MainItem.SubMenus != null)
            {
                @foreach (var item in MainItem.SubMenus.OrderBy(x => x.Order))
                {
                        <NavMenuItem MenuItem="item" OnClick="@OnClickSubMenu" />
                }
            }
        </div>
    </div>
</div>
@code {
    [Parameter] public Action<E00061_Menu> OnClick { get; set; }

    [Parameter] public E00061_Menu MainItem { get; set; }

    [Parameter] public List<E00061_Menu> PreviousItems { get; set; } = new List<E00061_Menu>();

    [CascadingParameter] public Action HideSubmenu { get; set; }

    public void OnClickSubMenu(E00061_Menu MenuItem)
    {
        PreviousItems.Add(MainItem);
        OnClick(MenuItem);
        StateHasChanged();
    }

    private void OnClickTitle()
    {
        if (PreviousItems.Count > 0)
        {
            OnClick(PreviousItems[PreviousItems.Count - 1]);
            PreviousItems.RemoveAt(PreviousItems.Count - 1);
        }
        else
        {
            OnClick(null);
        }
        StateHasChanged();
    }
    protected override string GetAutomationId()
    {
        @* if(string.IsNullOrEmpty(AutomationId))
        {
            AutomationId = Title;
        } *@
        return base.GetAutomationId();
    }

}