@using Radzen
@using SDK.Components.Visualization
@using Siesa.SDK.Frontend.Components.Visualization
@inject UtilsManager UtilManager

<div class="modal-content">
    <div class="modal-body">                                        
        <div class="d-flex justify-content-center mb-3">
            <div class="modal_circle_back_warning d-flex justify-content-center align-items-center">
                <div class="modal_circle_front_warning d-flex justify-content-center align-items-center">
                    i
                </div>
            </div>
        </div>
        <div class="font-weight-bold text-center text-uppercase mb-4 font_size_087 font_color_primary">@Title</div>
        <div class="text-center font_size_087">@Text</div>
    </div>
    <div class="modal-footer">
        <SDKButton RenderStyle="SDKButtonRenderStyle.Cancel" CssClass="btn-sm px-4 w-50" ResourceTag="Action.ConfirmCancel" Click="@ClickCancel"/>
        <SDKButton RenderStyle="SDKButtonRenderStyle.Primary" CssClass="btn-sm px-4 w-50"  ResourceTag="Action.ConfirmDelete" Click="@ClickDelete" />
    </div>
</div>

@code {

    [Parameter]
    public DialogService DialogService { get; set; }

    private string Text { get; set; }
    private string TextTag = "Custom.Modal.ConfirmDelete.Body";

    private string Title { get; set; }
    private string TitleTag = "Custom.Modal.ConfirmDelete.Title";
    private void ClickDelete()
    {
        DialogService.Close(true);
    }
    private void ClickCancel()
    {
        DialogService.Close(false);
    }

    protected override async Task OnInitializedAsync()
    {
        Text = await UtilManager.GetResource(TextTag);
        Title = await UtilManager.GetResource(TitleTag);
        base.OnInitializedAsync();
    }
}


